<r-image
  *ngIf="contentFile"
  [src]="contentFile"
></r-image>

<ng-container *ngIf="endpoint && editor">
  <button
    *ngIf="id"
    mat-fab
    class="upload"
  >
    <r-icon name="components/upload"></r-icon>
    <input
      (change)="$upload($event)"
      type="file"
      class="file"
    >
  </button>

  <r-image-placeholder
    *ngIf="!id"
  >
    Сохраните для загрузки медиа
  </r-image-placeholder>

  <div
    *ngIf="contentFile"
    (click)="$clear()"
    class="clear"
  >
    <r-icon name="editor/clear"></r-icon>
  </div>
</ng-container>

<ng-container *ngIf="!endpoint && editor">
  <button
    mat-fab
    class="upload"
  >
    <r-icon name="components/upload"></r-icon>
    <input
      (change)="$upload($event)"
      type="file"
      class="file"
    >
  </button>
</ng-container>
