<r-padding
  [horizontal]="false"
  class="full-screen"
>
  <r-card class="relative">
    <r-md
      [editor]="editor"
      [props]="props"
      prop="subtitle"
      className="h4"
      class="subtitle text"
      subtitle
    ></r-md>
    <ng-container title>
      <r-md
        [editor]="editor"
        [props]="props"
        prop="title"
        className="h1"
        class="text"
      ></r-md>
      <r-input
        *ngIf="editor"
        [(ngModel)]="props.position"
        class="mt-2"
      >
        <s-input-label>Позиция в рейтинге</s-input-label>
      </r-input>
    </ng-container>

    <div class="relative sphere-wrapper">
      <r-sphere
        #sphere
        [id]="elements[0].id"
        [props]="elements[0].props"
        [contentFile]="elements[0].content_file"
        [editor]="editor"
        class="sphere"
      ></r-sphere>

      <r-rating
        [position]="props.position"
        class="sphere-rating"
      ></r-rating>
    </div>
  </r-card>
</r-padding>
