 .subtitle {
 }

.intersect {

}

:host ::ng-deep .left {
  background: transparent;
}

.sphere-rating {
  position: absolute;
  right: -30px;
  top: -48px;
  transition: 300ms;
  z-index: 1;
}

.relative {
  position: relative;
  z-index: 1;
}