<r-padding
  [horizontal]="false"
  class="full-screen"
>
  <r-card class="relative">
    <div subtitle>
      <r-md
        [editor]="editor"
        [props]="props"
        prop="subtitle"
        className="h4"
        class="subtitle text"

      ></r-md>

    </div>
    <r-md
      [editor]="editor"
      [props]="props"
      prop="title"
      className="h1"
      class="text"
      title
    ></r-md>

    <r-sphere class="intersect"></r-sphere>

    <r-rating class="sphere-rating"></r-rating>
  </r-card>
</r-padding>
