:host {
  display: flex;
  justify-content: space-between;
  background: #000;

  ::ng-deep * {
    color: #fff;
  }
}

.w768 :host {
  flex-direction: column;

  .blocks {
    margin-top: 52px;
  }
}

.w1366 :host {
  .text32 {
    line-height: 40px;
  }
}
