<r-padding>
  <div class="row-column">
    <r-md
      [editor]="editor"
      [props]="props"
      prop="about"
      className="h2"
      class="about-text"
    ></r-md>

    <div class="column vector-container">
      <img
        src="/assets/icons/main/vector.svg"
        alt=""
        class="vector"
        r-parallax
        direction="reverse"
      />

      <div class="circle"></div>
    </div>
  </div>
  <div class="column">
    <r-main-about-text
      *ngFor="let element of elements; let first = first;"
      [class.mt-6]="!first"
      [props]="element.props"
      [editor]="editor"
    ></r-main-about-text>
  </div>
</r-padding>
