@import 'src/theme';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

div {
  display: flex;
  align-items: center;
  padding: 0 4rem;
  height: 100%;
}

:host[color=brown] {
  background: $color-brown;
  color: #fff;

  .h3 {
    color: #fff;
  }
}

.w768 :host {
  div {
    padding: 4rem;
  }
}

.w320 :host {
  div {
    padding: 4rem 0;
  }
}
