@import 'src/theme';

:host {
  display: block;
  padding: 8rem 0;
  background: $color-gray;
  overflow: hidden;
}

a {
  text-decoration: underline;
}

r-logo {
  margin-bottom: 16px;
}

.association {
  display: flex;
  align-items: center;
  margin-top: 5rem;

  .text32 {
    opacity: .3;
    margin-left: 30px;
  }
}

.bolder {
  margin-top: 1rem;
}

.social {
  a:not(:last-of-type) {
    margin-right: 2rem;
  }
}

.w1366 :host {
  r-logo {
    width: 280px !important;
    height: 84px !important;
  }
}

.w1024 :host {
  r-logo {
    width: 184px !important;
    height: 55px !important;
  }
}

.w768 :host {
  r-padding {
    flex-direction: column-reverse !important;
  }

  .contacts {
    display: flex;
    flex-direction: row;

    & > :first-child {
      margin-right: 2rem;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

.w320 :host {
  r-padding {
    flex-direction: column-reverse !important;
  }

  r-logo {
    margin: 48px 0;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }

  .social {
    margin: 3rem 0;
  }

  .association {
    img {
      width: 74px;
      height: 74px;
    }
  }
}
