<r-padding
  [horizontal]="true"
>
  <div class="row-column">
    <div>
      <div class="h3">
        Отзывы клиентов
      </div>
      <div class="mt-3">
        <r-arrow
          type="prev"
          color="#EBEBEB"
        ></r-arrow>
        <r-arrow
          type="next"
          color="#000"
          class="ml-2"
        ></r-arrow>
      </div>
    </div>
    <div class="content">
      <div class="h3">
        Иван Отзывчивый
      </div>
      <div class="text32 mt-1">
        Директор по маркетингу «Седьмой Континент»
      </div>
      <r-quote class="quote h4 mt-2">
        Я оценил четкость работы команды, соблюдение всех сроков, отличный тайм-менеджмент и умение организовать рабочий
        процесс
      </r-quote>
      <div class="mt-2 bolder full-review">
        Показать весь отзыв
      </div>
    </div>
  </div>
</r-padding>