<r-padding
  *ngIf="feedback$ | async as comments"
  [horizontal]="false"
  class="pv-128"
>
  <div class="row-column">
    <div>
      <r-md
        [editor]="editor"
        [props]="props"
        prop="title"
        className="h2"
      ></r-md>

      <div
        *ngIf="last > 0"
        class="arrows"
      >
        <r-arrow
          (click)="$prev()"
          [color]="currentIndex == 0 ? '#EBEBEB': '#000'"
          type="prev"
        ></r-arrow>
        <r-arrow
          (click)="$next()"
          [color]="currentIndex == last ? '#EBEBEB': '#000'"
          type="next"
          class="ml-2"
        ></r-arrow>
      </div>
    </div>
    <div>
      <div
        [@slider]="currentIndex"
        class="content"
      >
        <ng-container *ngTemplateOutlet="feedback; context: {comment: comments[currentIndex]}"></ng-container>
      </div>
    </div>
  </div>
</r-padding>

<ng-template
  #feedback
  let-comment="comment"
>
  <ng-container *ngIf="comment">
    <div class="h2">
      {{comment.props.name}}
    </div>
    <div class="text32 mt-1">
      {{comment.props.role}}
    </div>
    <r-quote class="quote h4 mt-6">
      {{comment.props.quote}}
    </r-quote>
    <div
      (click)="$toggle()"
      class="text32 mt-2_5 bolder full-review"
    >
      Показать весь отзыв
    </div>

    <div
      *ngIf="expanded"
      @errorAnimation
      class="mt-3 text32"
    >
      {{comment.props.text}}
    </div>
  </ng-container>
</ng-template>
