@import 'src/styles';

:host {
  display: block;
  padding: 8rem 0;
}

.content {
  flex: 2 !important;
}

.quote {
  padding: 2.5rem 4rem;
  background: #F8F8F8;
}

.full-review {
  text-decoration: underline;
  cursor: pointer;
}
