@import 'src/styles';

:host {
  display: block;
}

.arrows {
  margin-top: 64px;
  margin-bottom: 48px;
}

.content {
  flex: 2 !important;
}

.quote {
  padding: 64px 75px;
  background: #F8F8F8;
}

.full-review {
  text-decoration: underline;
  cursor: pointer;
}

.w320 :host {
  .quote {
    padding: 54px 36px;
    background: #F8F8F8;
  }
}