<r-page
  menuColor="black"
  backgroundImage="/assets/pictures/agency/bg.png"
>
  <r-padding header>
    <r-card
      color="black"
      subtitle="Брендинговое агентство"
      title="Валерии Репиной"
      class="promo"
    >
    </r-card>
  </r-padding>

  <r-blocks-render
    *ngIf="blocks"
    [render]="render"
    [blocks]="blocks"
    [editor]="true"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      (click)="$save()"
      mat-fab
      color="primary"
    >
      <r-icon name="components/checked-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
