<r-page>
  <r-padding class="row" style="align-items: center">
    <mat-checkbox
      [(ngModel)]="service.is_enabled"
    > Опубликовано
    </mat-checkbox>

    <div>
      <mat-button-toggle-group
        [(ngModel)]="service.service_type"
        name="service_type"
      >
        <mat-button-toggle value="single">Простая</mat-button-toggle>
        <mat-button-toggle value="complex">Комплексная</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </r-padding>

  <r-blocks-render
    (addBlock)="$addBlock($event)"
    [render]="render"
    [blocks]="service.content_blocks"
    [availableElements]="availableElements"
    [editor]="true"
    class="mt-2"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      (click)="$save()"
      mat-fab
      color="primary"
    >
      <r-icon name="components/checked-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
