<r-page>
  <r-padding class="row" style="align-items: center">
    <mat-checkbox
      [(ngModel)]="service.is_enabled"
    > Опубликовать
    </mat-checkbox>

    <div>
    </div>
  </r-padding>

  <r-padding class="row mt-2">
    <r-select
      [(ngModel)]="service.service_type"
      [options]="types"
      placeholder="Тип услуги"
      label="Тип услуги"
    ></r-select>

    <ng-container *ngIf="service.service_type !== 'complex'">
      <r-select
        *ngIf="serviceTags$ | async as serviceTags"
        [(ngModel)]="service.tag"
        [options]="serviceTags | selectOptions : $toOption"
        placeholder="Тег"
        label="Тег"
        class="ml-2"
      ></r-select>
    </ng-container>

    <ng-container *ngIf="service.service_type === 'single'">
      <r-select
        *ngIf="complexServices$ | async as groups"
        [(ngModel)]="service.parent"
        [options]="groups | selectOptions : $toOption"
        placeholder="Направление"
        label="Направление"
        class="ml-2"
      ></r-select>

      <r-select
        *ngIf="serviceGroups$ | async as groups"
        [(ngModel)]="service.tag_group"
        [options]="groups | selectOptions : $toOption"
        placeholder="Группа"
        label="Группа"
        class="ml-2"
      ></r-select>
    </ng-container>

    <ng-container *ngIf="service.service_type === 'brand_wiki'">
      <r-select
        *ngIf="serviceScopes$ | async as scopes"
        [(ngModel)]="service.activity_scope"
        [options]="scopes | selectOptions : $toOption"
        placeholder="Сфера услуги"
        label="Сфера"
        class="ml-2"
      ></r-select>
    </ng-container>
  </r-padding>

  <r-padding class="row mt-2">
    <r-input
      [(ngModel)]="service.title"
      placeholder="Название"
    ></r-input>

    <r-input
      [(ngModel)]="service.description"
      placeholder="Описание"
      class="ml-2"
    ></r-input>
  </r-padding>

  <r-blocks-render
    (addBlock)="$addBlock($event)"
    [render]="render"
    [blocks]="service.content_blocks"
    [availableElements]="availableElements"
    [editor]="true"
    class="mt-2"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      (click)="$save()"
      mat-fab
      color="primary"
    >
      <r-icon name="components/checked-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
