r-padding {
  background: inherit;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  width: 70%;
}

.animation {
  position: absolute;
  right: 0;
  bottom: 0;
}
