<r-padding>
  <r-card
    size="small"
    class="promo"
  >
    <div
      (contentChanged)="$contentChanged($event, 'subtitle')"
      [r-block]="editor"
      [innerHTML]="$getValue('subtitle')"
      subtitle
      class="text32 mt-1"
    ></div>

    <div
      (contentChanged)="$contentChanged($event, 'title')"
      [r-block]="editor"
      [innerHTML]="$getValue('title')"
      title
      class="h2 mt-1"
    ></div>

    <div description>
      <div
        (contentChanged)="$contentChanged($event, 'description')"
        [r-block]="editor"
        [innerHTML]="$getValue('description')"
        class="description text32 mt-1_5"
      ></div>
      <r-button
        class="mt-2"
      >
        Заказать
      </r-button>
    </div>

    <r-service-animation
      *ngIf="data?.service?.service_type === 'complex'"
      [props]="props"
      image
      class="animation"
    ></r-service-animation>

    <r-image-upload
      *ngIf="editor"
      (upload)="$upload($event)"
      [editor]="editor"
      [props]="props"
      image
    ></r-image-upload>
  </r-card>
</r-padding>

<ng-template #serviceTmp>
  Услуги
</ng-template>
