:host {
  display: block;
  background: #F8F8F8;
  min-height: 600px;
  padding-bottom: 6rem;
  box-sizing: border-box;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  width: 70%;
}

.animation {
  position: absolute;
  right: 0;
  bottom: 0;
}
