<r-padding class="full-screen pt-128">
  <r-card
    size="small"
    class="promo"
  >
    <r-md
      [props]="props"
      [editor]="editor"
      prop="subtitle"
      className="h4"
      class="mt-1"
      subtitle
    ></r-md>

    <r-md
      [props]="props"
      [editor]="editor"
      prop="title"
      className="h1"
      class="mt-1"
      title
    ></r-md>

    <div description>
      <div
        (contentChanged)="$contentChanged($event, 'description')"
        [r-block]="editor"
        [innerHTML]="$getValue('description')"
        class="description text32 mt-1_5"
      ></div>
      <r-button
        rRequest
        class="mt-2"
      >
        Заказать
      </r-button>
    </div>

    <r-service-animation
      *ngIf="data?.service?.service_type === 'complex'"
      [props]="props"
      image
      class="animation p-r"
    ></r-service-animation>

    <r-image-upload
      *ngIf="editor"
      (upload)="$upload($event)"
      [editor]="editor"
      [props]="props"
      image
    ></r-image-upload>
  </r-card>
</r-padding>
