<ng-container *ngIf="!editor">
  <r-grid
    [type]="type"
    rowHeight="1.5:1"
  >
    <r-project-media
      rel="1"
      [id]="elements[0].id"
      [props]="elements[0].props"
      [contentFile]="elements[0].content_file"
    ></r-project-media>
    <r-project-media
      *ngIf="images[1]"
      rel="2"
      [id]="elements[1].id"
      [props]="elements[1].props"
      [contentFile]="elements[1].content_file"
    ></r-project-media>
    <r-project-media
      *ngIf="images[2]"
      rel="3"
      [id]="elements[2].id"
      [props]="elements[2].props"
      [contentFile]="elements[2].content_file"
    ></r-project-media>
  </r-grid>
</ng-container>

<div
  *ngIf="editor"
  class="row"
  style="min-height: 100%"
>
  <r-project-media
    *ngFor="let element of elements; let index = index"
    [attr.rel]="index"
    [id]="element.id"
    [props]="element.props"
    [contentFile]="element.content_file"
    [editor]="true"
  ></r-project-media>
</div>
