:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

span {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  -webkit-animation: scroll 20s infinite linear;
  -moz-animation: scroll 20s infinite linear;
  animation: scroll 20s infinite linear;
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0)
  }
}
