<r-page>
  <r-padding class="row" style="align-items: center">
    <mat-checkbox
      [(ngModel)]="article.is_enabled"
      style="flex: 0; margin-right: 48px"
    >
      Опубликовать
    </mat-checkbox>

    <r-input
      [(ngModel)]="article._slug"
      placeholder="Относительная ссылка"
    >
      <r-input-label>Ссылка (slug)</r-input-label>
    </r-input>
  </r-padding>

  <r-padding class="row" style="align-items: center">
    <r-select
      *ngIf="tags$ | async as tags"
      [(ngModel)]="article.blog_tag"
      [options]="tags"
      placeholder="Руррика"
    ></r-select>

    <r-input
      [(ngModel)]="article.title"
      [required]="true"
      placeholder="Название"
      class="ml-2"
    ></r-input>

    <r-input
      [(ngModel)]="article.author_name"
      placeholder="Имя автора статьи"
      class="ml-2"
    ></r-input>
  </r-padding>

  <r-blocks-render
    (addBlock)="$addBlock($event)"
    [render]="render"
    [blocks]="article.content_blocks"
    [availableElements]="availableElements"
    [editor]="true"
    class="mt-2"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      (click)="$save()"
      mat-fab
      color="primary"
    >
      <r-icon name="components/checked-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
