<r-page>
  <r-padding class="row" style="align-items: center">
    <mat-checkbox
      [(ngModel)]="article.is_enabled"
      (change)="$save()"
    > Опубликовано </mat-checkbox>

    <r-input
      [(ngModel)]="article.title"
      (keyup)="$save()"
      [required]="true"
      placeholder="Название"
    ></r-input>

    <!--<r-input
      [(ngModel)]="article.blog_tag"
      (keyup)="$save()"
      placeholder="Тег"
      class="ml-2"
    ></r-input>-->

    <r-input
      [(ngModel)]="article.author_name"
      (keyup)="$save()"
      placeholder="Имя автора статьи"
      class="ml-2"
    ></r-input>
  </r-padding>

  <r-blocks-render
    (change)="$save()"
    (addBlock)="$addBlock($event)"
    [blocks]="article.content_blocks"
    [editor]="true"
    class="mt-2"
  ></r-blocks-render>

  <r-padding
    [horizontal]="false"
    style="display: flex"
  >
    <r-button
      (click)="$save()"
      class="ml-2"
    >
      Сохранить
    </r-button>
  </r-padding>
</r-page>
