:host {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 2rem;

  &.center {
    //padding-right: 8rem;
  }
}

.inner {
  overflow-wrap: break-word;
  display: block;
  max-width: 100%;
  margin: auto;

  &.small {
    background: transparent;
    padding: 1rem;
  }
}

.author {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-top: 2rem;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
