@import 'src/theme';

:host {
  display: block;
}

button {
  padding: .5rem 2rem;
  box-sizing: border-box;
  background: $color-red;
  color: white;
  border: none;
  outline: none;
  border-radius: 44px;
  white-space: nowrap;
  transition: 100ms;
  cursor: pointer;

  &:hover {
    background: #000;
  }
}
