<r-padding class="nav">
  <div class="primary-block">
    <a
      *ngFor="let item of primaryBlock; let first = first;"
      [attr.href]="item.href | href"
      [class.text32]="!first"
    >
      <h2>{{item.text}}</h2>
    </a>
  </div>

  <div class="blocks">
    <div
      *ngFor="let block of blocks; let index = index"
      (cdkDropListDropped)="$drop($event, block)"
      class="nav-block column"
      cdkDropList
    >
      <a
        *ngFor="let item of block; let first = first;"
        [attr.href]="item.href | href"
        [class.h2]="first"
        [class.mb-16]="first"
        [class.text32]="!first"
        [cdkDragDisabled]="!editor || first"
        cdkDragLockAxis="y"
        cdkDragBoundary=".nav-block"
        class="item"
        cdkDrag
      >
        <r-icon
          *ngIf="!first && editor"
          name="components/move"
          cdkDragHandle
        ></r-icon>
        {{item.text}}
      </a>
    </div>
  </div>
</r-padding>
