<ng-container *ngIf="sessionValid">
  <link rel="stylesheet" href="/assets/material.css">

  <r-seo [readonly]="false"></r-seo>
</ng-container>

<ng-container *ngIf="!sessionValid">
  <r-seo [readonly]="true"></r-seo>
</ng-container>

<r-drawer
  *ngIf="drawerOpened"
  (closeDrawer)="$toggleDrawer(false)"
  (priceRequest)="$priceRequest()"
  @drawerAnimation
></r-drawer>

<r-header
  [class.has-image]="!!backgroundImage"
  [backgroundImage]="backgroundImage"
  [fullscreenBackgroundImage]="fullscreenBackgroundImage"
>
  <r-menu
    (openDrawer)="$toggleDrawer(true)"
    (priceRequest)="$priceRequest()"
    [color]="menuColor"
  ></r-menu>
  <ng-content select="[header]"></ng-content>
</r-header>

<r-sticky>
  <r-menu
    (openDrawer)="$toggleDrawer(true)"
    (priceRequest)="$priceRequest()"
    [top]="true"
  ></r-menu>
</r-sticky>

<div id="content" class="content">
  <ng-content></ng-content>

  <ng-container *ngTemplateOutlet="contentTmp"></ng-container>
  <r-request
    *ngIf="!contentTmp"
  ></r-request>
</div>

<r-footer *ngIf="!customFooter"></r-footer>

<r-cookies></r-cookies>
