<r-drawer
  *ngIf="drawerOpened"
  (closeDrawer)="$toggleDrawer(false)"
  (priceRequest)="$priceRequest()"
  @drawerAnimation
></r-drawer>

<r-seo
  *rWithSession
></r-seo>

<r-header
  [class.has-image]="!!backgroundImage"
  [backgroundImage]="backgroundImage"
  [fullscreenBackgroundImage]="fullscreenBackgroundImage"
>
  <r-menu
    (openDrawer)="$toggleDrawer(true)"
    (priceRequest)="$priceRequest()"
    [color]="menuColor"
  ></r-menu>
  <ng-content select="[header]"></ng-content>
</r-header>

<r-sticky>
  <r-menu
    (openDrawer)="$toggleDrawer(true)"
    (priceRequest)="$priceRequest()"
  ></r-menu>
</r-sticky>

<div class="content">
  <ng-content></ng-content>

  <ng-container *ngTemplateOutlet="contentTmp"></ng-container>
  <r-request
    *ngIf="!contentTmp"
  ></r-request>
</div>

<r-footer *ngIf="!customFooter"></r-footer>
