:host {
  display: block;
  position: relative;
  width: 100%;
}

.select {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  background: #F8F8F8;
}

a:hover {
  text-decoration: none;
  ::ng-deep .h3 {
    text-decoration: underline;
  }
}
