:host {
  display: block;
  position: relative;
  width: 100%;

  &[editor=true] {
    min-height: 80px;
    border: 1px dashed rgba(0, 0, 0, .05);
  }
}

.select {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  background: #F8F8F8;
}

a:hover {
  text-decoration: none;
  ::ng-deep .h3 {
    text-decoration: underline;
  }
}
