<r-page
  *ngIf="blocks$ | async as blocks"
  menuColor="black"
  [backgroundImage]="blocks[0].content_elements[0].content_file"
>
  <r-blocks-render
    [render]="render"
    [blocks]="[blocks[0]]"
    header
  ></r-blocks-render>

  <r-blocks-render
    [render]="render"
    [blocks]="blocks.slice(1)"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      [routerLink]="['/agency', 'edit']"
      mat-fab
      color="primary"
    >
      <r-icon name="components/edit-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
