<r-page
  menuColor="black"
  backgroundImage="url('/assets/pictures/agency/bg.png')"
>
  <r-padding [horizontal]="true">
    <div class="promo">
      <r-card
        color="black"
        subtitle="Брендинговое агентство"
        title="Валерии Репиной"
      >
      </r-card>
    </div>
  </r-padding>

  <r-padding
    class="achievements"
  >
    <div class="row-column">
      <div>
        <div class="h2">
          7 место
        </div>
        <div class="text32 mt-1">
          В рейтинге лучших брендинговых агентств России по версии АКАР
        </div>
      </div>
      <div>
        <div class="h2">
          8 премий
        </div>
        <div class="text32 mt-1">
          Самые престижные мировые и российские премии в области брендинга
        </div>
      </div>
      <div>
        <div class="h2">
          215 проектов
        </div>
        <div class="text32 mt-1">
          FMCG, ритейл, медицина, технологии, финансы, e-commerce, промышленность, девелопмент
        </div>
      </div>
    </div>
  </r-padding>

  <div class="gallery row-column">
    <r-image
      src="/assets/pictures/agency/repina.png"
    ></r-image>
    <r-grid-text>
      <div class="column">
        <div class="h3">Валерия Репина</div>
        <div class="text32 mt-1">
          Креативный директор, специалист по визуальным коммуникациям, эксперт по брендингу, колумнист в Forbes, член жюри российских премий в сфере бизнеса и маркетинга.
        </div>
        <r-button class="mt-3">
          Колонка Валерии Репиной
        </r-button>
      </div>
    </r-grid-text>
  </div>

  <r-team></r-team>
</r-page>
