<r-page>
  <r-padding class="row" style="align-items: center">
    <mat-checkbox
      [(ngModel)]="project.is_enabled"
    > Опубликовать
    </mat-checkbox>

    <div></div>
    <div></div>
  </r-padding>

  <r-padding class="row mt-2">
    <r-input
      [(ngModel)]="project.title"
      placeholder="Название"
    ></r-input>

    <r-input
      [(ngModel)]="project.description"
      placeholder="Описание"
      class="ml-2"
    ></r-input>
  </r-padding>

  <r-blocks-render
    (addBlock)="$addBlock($event)"
    [render]="render"
    [blocks]="project.content_blocks"
    [availableElements]="availableElements"
    [availableBlocks]="availableBlocks"
    [editor]="true"
    [controlTmp]="blockControls"
    class="mt-2"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      (click)="$save()"
      mat-fab
      color="primary"
    >
      <r-icon name="components/checked-white"></r-icon>
    </button>
  </r-fabs>
</r-page>

<ng-template
  #blockControls
  let-block="block"
>
  <div
    *ngIf="block.block_type === 'project-block'"
    class="row mr-2"
  >
    <mat-button-toggle-group
      [(ngModel)]="block.props.color"
      name="color"
      style="flex: auto"
    >
      <mat-button-toggle value="white">Белый</mat-button-toggle>
      <mat-button-toggle value="black">Черный</mat-button-toggle>
    </mat-button-toggle-group>

    <input
      [(ngModel)]="block.props.background"
      name="background"
    >
  </div>

  <mat-button-toggle-group
    *ngIf="block.block_type === 'project-gallery'"
    [(ngModel)]="block.props.type"
    name="color"
    class="mr-2"
    style="flex: auto"
  >
    <mat-button-toggle value="big-small">
      big-small
    </mat-button-toggle>
    <mat-button-toggle value="small-big">
      small-big
    </mat-button-toggle>
    <mat-button-toggle value="small-wide">
      small-wide
    </mat-button-toggle>
    <mat-button-toggle value="wide-small">
      wide-small
    </mat-button-toggle>
  </mat-button-toggle-group>
</ng-template>
