<r-padding [horizontal]="true">
  <div class="row-column">
    <div class="row-column h3">
      <ng-container *ngIf="props.index">0{{props.index}}</ng-container>
      <div
        *ngIf="props.title"
        class="ml"
      >
        {{props.title}}<br>
        <span class="text32">{{props.subtitle}}</span>
      </div>

      <ng-content select="r-image"></ng-content>
    </div>
    <div>
      <div class="text32">{{props.text}}</div>

      <!--<div class="text32">
        По результатам интервью с мастерами и их клиентами, был найден инсайт: какими бы красавицами ни были женщины, они
        все равно хотят что-то в себе улучшить. В процессе работы мы задумались о понятии непреходящей красоты, о том
        существует ли неизменный эталон красоты и решили создать бренд, который поможет женщинам найти свой способ
        усовершенствования, свой эквивалент красоты.
      </div>
      <div class="mt-3 text32 bolder">
        Характер бренда
      </div>
      <ul class="text32 mt-1_5">
        <li>Энергичный</li>
        <li>Уверенный</li>
        <li>Творческий</li>
        <li>Смелый</li>
      </ul>-->
    </div>
  </div>
</r-padding>
