<form
  (submit)="$submit($event)"
  [formGroup]="formGroup"
>
  <div
    *ngFor="let filter of activeFilters"
    class="item"
  >
    <s-input
      formControlName="{{filter.value}}"
      [placeholder]="filter.label"
    >
      <s-input-label>{{filter.label}}</s-input-label>
    </s-input>
  </div>
  <div class="more-filters">
    <s-select
      #filter
      (valueChanged)="$addFilter($event); filter.reset();"
      [options]="moreFilters"
      [search]="true"
      placeholder="Добавить фильтр"
    ></s-select>
  </div>

  <input type="submit" style="display: none">
</form>
