@import 'src/styles';
@import 'src/theme';

:host {
  display: block;
  width: 100%;
  height: 100%;

  &[editor="true"] {
    a {
      cursor: auto;
    }

    .footer {
      align-items: flex-start;
    }
  }
}

a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  cursor: pointer;

  ::ng-deep * {
    color: inherit;
  }

  &:hover .title {
    text-decoration: underline;
  }
}

.label {
  color: $color-red;
}

.footer {
  @extend .row;
  align-items: flex-end;

  .image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    min-height: 100px;
  }
}

:host[type="1"] {
  .image {
    height: 50%;
    margin-right: -2rem;
  }
}

:host[type="2"] {
  .image {
    height: 80%;
  }
}

:host[type="3"] {
  flex-direction: column-reverse;

  .image {
    height: 100%;
    margin-top: -2rem;
    margin-left: -2rem;
    background-position: left bottom;
  }
}

.w320 :host {
  .title ::ng-deep .h2 {
    @extend .h4;
    color: inherit;
  }

  .label ::ng-deep .h2 {
    line-height: 32px;
  }
}
