<a
  *ngIf="!editor"
  [routerLink]="[props.href]"
>
  <r-md
    [editor]="editor"
    [props]="props"
    prop="title"
    className="h2"
    class="title"
  ></r-md>

  <div class="footer">
    <div class="column">
      <div
        *ngIf="editor"
        (contentChanged)="$contentChanged($event, 'href')"
        [r-block]="editor"
        [innerHTML]="$getValue('href')"
        class="text-32"
      ></div>
      <r-md
        *ngIf="type != '3'"
        [editor]="editor"
        [props]="props"
        prop="source"
        className="h2 label"
      ></r-md>
    </div>

    <div
      *ngIf="contentFile"
      [style.backgroundImage]="'url(' + contentFile + ')'"
      class="image"
    ></div>
  </div>
</a>

<div *ngIf="editor">
  <r-input [(ngModel)]="props.title">
    <r-input-label>Заголовок</r-input-label>
  </r-input>
  <r-input [(ngModel)]="props.href">
    <r-input-label>Ссылка</r-input-label>
  </r-input>

  <div class="footer">
    <r-input [(ngModel)]="props.source">
      <r-input-label>Источник</r-input-label>
    </r-input>

    <r-image-upload
      [editor]="editor"
      [id]="id"
      [contentFile]="contentFile"
      [props]="props"
      endpoint="main_content_elements"
      class="ml-1"
    ></r-image-upload>
  </div>
</div>
