<div
  [r-block]="editor"
  [innerHTML]="$getValue('title')"
  (contentChanged)="$contentChanged($event, 'title')"
  class="h3"
></div>

<div class="footer">
  <div
    *ngIf="type != '3'"
    [r-block]="editor"
    [innerHTML]="$getValue('source')"
    (contentChanged)="$contentChanged($event, 'source')"
    class="h3 label"
  ></div>

  <div
    *ngIf="contentFile && !editor"
    [style.backgroundImage]="'url(' + contentFile + ')'"
    class="image"
  ></div>

  <r-image-upload
    *ngIf="editor"
    [editor]="editor"
    [id]="id"
    [contentFile]="contentFile"
    [props]="props"
    endpoint="main_content_elements"
    class="image"
  ></r-image-upload>
</div>
