@import 'src/styles';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  @extend .h4;
}

.title {
  @extend .h1;
}

:host[color=black] {
  * {
    color: white !important;
  }
}

:host[size=small] {
  .subtitle {
    @extend .h4;
  }

  .title {
    @extend .h2;
  }
}

.h3 {
  margin-top: 20px;
}

.w768 :host {
  flex-direction: column;
  align-items: flex-end;
}

:host ::ng-deep r-image {
  max-width: 38rem;
  max-height: 38rem;
}
