@import 'src/styles';

:host {
  display: block;
  height: 100%;
}

.row-column {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1.5 !important;
  margin-right: 180px;
}

:host.wide {
  .left {
    width: 80%;
  }
}

:host[color=black] {
  ::ng-deep * {
    color: white !important;
  }
}

/*
.w768 :host, .w320 :host {
  flex-direction: column;
  align-items: flex-end;

  .left {
    width: 100%;
  }
}*/

:host ::ng-deep [image] {
  max-width: 38rem;
  max-height: 38rem;
}

.w1366 :host {
  .left {
    margin-right: 136px;
  }
}

.w1024 :host {
  .left {
    margin-right: 40px;
  }
}
