<r-grid
  type="small-big"
>
  <r-image
    rel="1"
    src="/assets/pictures/agency/19.png"
  >
  </r-image>
  <r-image
    rel="2"
    src="/assets/pictures/agency/30.png"
  >
  </r-image>
  <r-image
    rel="3"
    src="/assets/pictures/agency/14.png"
  >
  </r-image>
</r-grid>

<r-grid
  type="small"
  class="mt-2"
>
  <r-image
    rel="1"
    src="/assets/pictures/agency/31.png"
  >
  </r-image>
  <r-image
    rel="2"
    src="/assets/pictures/agency/32.png"
  >
  </r-image>
  <r-image
    rel="3"
    src="/assets/pictures/agency/33.png"
  >
  </r-image>
</r-grid>
