:host {
  display: block;
}

input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

input+label::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 1.25rem;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 300ms;
}

input:checked+label::before {
  border-color: #000;
  background-image: url('/assets/icons/components/checked.svg');
  background-size: 1.5rem 1rem;
}

input:not(:disabled):not(:checked)+label:hover::before {
  border-color: #000;
}
