:host {
  display: block;

  .full, .mobile, .mobile-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    text-align: right;
  }

  .mobile, .mobile-open {
    display: none;
  }
}

:host[color=black] {
  * {
    color: white !important;
  }
}

.menu-item {
  display: inline-block;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.w1366 :host .menu-item {
  font-size: 20px;
  line-height: 28px;
}

.w1024 :host, .w768 :host, .w320 :host {
  .full {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

.w320 :host {
  .request-button {
    display: none;
  }
}