@import 'src/styles';
@import 'src/theme';

:host {
  display: block;
  overflow: hidden;
  padding: 42px var(--padding-horizontal, 0);

  .full, .mobile, .mobile-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    text-align: right;
  }

  .mobile, .mobile-open {
    display: none;
  }

  .mobile {
    .menu-pane {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 24px;
    }

    .request-button {
      width: 100%;
      margin-bottom: -20px;

      ::ng-deep button {
        width: 100%;
      }
    }
  }
}

:host[color=black] {
  ::ng-deep * {
    color: white !important;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  @extend .bolder;
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 40px;
}

.w1366 :host .menu-item {
  font-size: 20px;
  line-height: 28px;
}

.w1024 :host, .w768 :host, .w320 :host {
  padding-top: 24px;
  padding-bottom: 24px;

  .full {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
  }
}

.cdk-drag-preview {
  background: #fff;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
