<r-padding [horizontal]="true">
  <div
    *ngIf="menu"
    class="full"
  >
    <a [routerLink]="['/']">
      <r-logo [menuColor]="color"></r-logo>
    </a>

    <div class="menu">
      <ng-container *ngIf="!editor">
        <r-menu-item
          *ngFor="let item of menu.content_elements"
          [props]="item.props"
          class="menu-item ml-2"
        >
        </r-menu-item>
      </ng-container>

      <div
        *ngIf="editor"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="$sort($event)"
        class="menu"
      >
        <r-menu-item
          *ngFor="let item of menu.content_elements"
          (change)="$save()"
          [props]="item.props"
          [editor]="true"
          cdkDrag
          class="menu-item ml-2"
        >
          <r-icon-button
            cdkDragHandle
            icon="move"
            size="16"
          ></r-icon-button>
        </r-menu-item>
      </div>

      <r-button
        (click)="$priceRequest()"
        class="menu-item request-button ml-2"
      >
        Запросить стоимость
      </r-button>
      <a
        class="menu-item ml-2"
      >
        Eng
      </a>
      <r-icon-button
        *rWithSession
        (click)="$toggleEditor()"
        icon="edit"
        class="menu-item ml-2"
      ></r-icon-button>
    </div>
  </div>

  <div class="mobile">
    <a [routerLink]="['/']">
      <r-logo [menuColor]="color"></r-logo>
    </a>
    <div class="menu">
      <r-button
        (click)="$priceRequest()"
        class="menu-item request-button ml-2"
      >
        Запросить стоимость
      </r-button>
      <r-burger
        (click)="$openDrawer()"
        [menuColor]="color"
        class="ml-2"
      ></r-burger>
    </div>
  </div>
</r-padding>
