<div *ngIf="editor">
  <r-list-content
    (valueChanges)="$valueChanged($event)"
    [options$]="feedbacks$"
    [selected]="$parseValue(props.feedback)"
    [editable]="false"
    placeholder="Комментарий к проекту"
  ></r-list-content>
</div>

<div
  *ngIf="!editor && comment"
  class="row-column"
>
  <div class="author p-l">
    <div class="h3">
      {{comment.props.name}}
    </div>
    <div class="text32 mt-1">
      {{comment.props.role}}
    </div>
  </div>
  <div class="comment p-r">
    <r-quote class="quote h3">
      {{comment.props.quote}}
    </r-quote>

    <div
      class="mt-3 text32"
    >
      {{comment.props.text}}
    </div>
  </div>
</div>