:host {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  background: #F8F8F8;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-top: 30px;
}

.author {
  flex: initial;
  width: 40%;
  margin-right: 30px;
}

.comment {
  padding-right: 8rem;
  padding-left: 8rem;
}