<r-padding>
  <r-card
    [subtitle]="props.subtitle"
  >
    <div
      title
      class="h2 mt-1"
    >
      <r-input
        *ngIf="editor"
        [(ngModel)]="props.title"
        placeholder="Название"
      ></r-input>
      <span
        *ngIf="!editor"
      >
        {{props.title}}
      </span>
    </div>
    <div
      description
      class="text32 mt-1_5"
    >
      <r-input
        *ngIf="editor"
        [(ngModel)]="props.description"
        placeholder="Описание"
      ></r-input>
      <span
        *ngIf="!editor"
      >
        {{props.description}}
      </span>
    </div>

    <r-image [src]="'/assets/pictures/journal/article_header.png'"></r-image>
  </r-card>
</r-padding>
