:host {
  display: block;
  width: 100%;
}

r-badge:not(:last-of-type) {
  margin-right: 1rem;
}

.w320 :host {
  display: flex;
  white-space: nowrap;
  overflow: auto;

  r-badge {
    display: inline;
  }
}
