@import 'src/theme';
@import 'src/styles';

:host {
  @extend .text16;
  color: $color-red;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  max-width: max-content;
  outline: none;
}

img {
  margin-right: 10px;
}
