<mat-accordion *ngIf="!readonly">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Настройки SEO
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <form
        (submit)="$submit($event)"
        [formGroup]="formGroup"
      >
        <r-input
          *ngFor="let control of controls"
          [formControlName]="control"
        >
          <r-input-label>{{control}}</r-input-label>
        </r-input>

        <r-button
          (click)="$submit($event)"
          class="mt-1"
        >Сохранить</r-button>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
