<div
  *ngIf="editor"
  class="h3"
>
  Статьи по теме
</div>

<div *ngIf="!editor">
  <ng-container *ngIf="related$ | async as related">
    <ng-container *ngIf="related.length > 0">
      <div class="h4">Статьи по теме</div>

      <a
        *ngFor="let service of related; let first = first;"
        [routerLink]="['/services', service.slug]"
        [class.mt-2]="first"
        [class.mt-1_5]="!first"
        target="_blank"
        class="d-block text32 bolder underline"
      >
        {{service.title}}
      </a>
    </ng-container>
  </ng-container>
</div>
