<form
  (submit)="$submit($event)"
  [formGroup]="formGroup"
  class="mt-5"
>
  <h2>
    Регистрация
  </h2>

  <r-input
    [required]="true"
    [error]="$getError('first_name')"
    formControlName="first_name"
    placeholder="Имя"
    class="mt-2"
  ></r-input>
  <r-input
    [required]="true"
    [error]="$getError('email')"
    formControlName="email"
    placeholder="Email"
    class="mt-4"
  ></r-input>
  <r-input
    [required]="true"
    [error]="$getError('phone')"
    formControlName="phone"
    placeholder="Телефон"
    class="mt-4"
  ></r-input>
  <r-input
    [required]="true"
    [error]="$getError('code')"
    formControlName="code"
    placeholder="Код из СМС"
    class="mt-4"
  ></r-input>
  <r-input
    [required]="true"
    formControlName="password"
    placeholder="Пароль"
    class="mt-4"
  ></r-input>

  <r-button
    (click)="$submit($event)"
    [disabled]="formGroup.invalid || (submitted | async)"
    type="submit"
    class="mt-4"
  >
    Зарегистрироваться
  </r-button>

  <div class="row mt-2_5 space-between">
    <a
      [routerLink]="['restore']"
      class="underline text24 bolder"
    >Забыли пароль?</a>

    <a
      [routerLink]="['..']"
      class="underline text24 bolder text-right"
    >Вход</a>
  </div>

  <r-checkbox
    formControlName="policy"
    class="mt-1_5"
  >
    <div class="description text16 mt-1_5">
      Я подтверждаю согласие на обработку персональных данных в соответствии с условиями <a href="/assets/policy.pdf" target="_blank">Информационной политики</a>
    </div>
  </r-checkbox>

  <input type="submit" style="display: none"/>
</form>
