:host {
  display: flex;
  justify-content: space-between;
  background: #000;

  * {
    color: #fff;
  }

  r-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: inherit;
  }
}

.primary {
  max-width: 30%;
  margin-right: 20px;
  margin-bottom: 6rem;
}

.nav-block {
  display: flex;
  flex-direction: column;

  ::ng-deep .row-column {
    align-items: flex-start;
  }

  .h3 {
    margin-bottom: 16px;
  }

  &:not(:last-of-type) {
    margin-right: 20px;
  }

  ::ng-deep .image {
    margin-top: -12px;
    margin-right: 100px;
  }
}


.w1366 :host {
  ::ng-deep .image {
    margin-right: 50px;
  }
}

.w768 :host {
  .primary {
    flex: 0;
    max-width: 100%;
  }

  .blocks {
    margin-top: 52px;
  }

  .nav-block {
    .row-column {
      align-items: flex-start;
    }
  }

  ::ng-deep .image {
    margin-right: 25px;
  }
}

.w320 :host {
  .primary {
    flex: 0;
    max-width: 100%;
  }

  .blocks {
    display: flex;
    flex-direction: column;
  }
}
