<r-padding
  [horizontal]="true"
  class="row-column"
>
  <div class="primary">
    <a
      [routerLink]="[]"
      class="h3"
    >
      {{title}}
    </a>
  </div>
  <div class="blocks column">
    <div
      *ngFor="let el of elements; let first = first; let index = index;"
      [class.mt-6]="!first"
      class="nav-block"
    >
      <div class="row-column">
        <img [src]="images[index]"/>
        <ng-container
          *ngTemplateOutlet="itemTemplate; context: {element: el, index: index}"
        ></ng-container>
      </div>
    </div>
  </div>
</r-padding>

<!--
<div class="column">
          <div class="h3">
            {{el.props.title}}
          </div>
          <div class="text32">
            {{el.props.text}}
          </div>
        </div>
-->
