@import 'src/styles';

:host {
  display: inline-block;
  position: relative;
  padding: 32px 0 32px 32px;
  word-break: break-word;

  &:before {
    content: '“';
    position: absolute;
    margin-left: -48px;
    font-size: 112px;
  }

  ::ng-deep * {
    @extend .h;
  }
}

.w320 :host {
  &:before {
    font-size: 64px;
    margin-left: -32px;
  }

  font-size: 20px !important;
  line-height: 28px !important;
}
