@import 'src/styles';

:host {
  display: block;
  position: relative;
}

.inner {
  @extend .h;
  padding: 2rem;

  &:before {
    content: '“';
    position: absolute;
    margin-left: calc(-2rem - 10px);
    font-size: 78px;
  }

  &:after {
    content: '”';
    position: absolute;
    margin-top: 2.5rem;
    right: 0;
    margin-left: 10px;
    font-size: 78px;
  }
}
