@import 'src/styles';

:host {
  display: inline-block;
  position: relative;
  padding: 2rem;
  margin-left: -2rem;

  &:before {
    content: '“';
    position: absolute;
    margin-left: -2rem;
    font-size: 78px;
  }

  &:after {
    content: '”';
    position: absolute;
    bottom: -8px;
    margin-left: 1rem;
    font-size: 78px;
  }

  ::ng-deep * {
    @extend .h;
  }
}