<r-page
  *ngIf="service$ | async as service"
  [menuColor]="service.service_type === 'complex' ? 'black' : 'white'"
>
  <r-blocks-render
    [render]="render"
    [blocks]="service.content_blocks"
    [data]="{service: service}"
  ></r-blocks-render>

  <r-agency-achievements [embed]="true"></r-agency-achievements>

  <r-agency-customers></r-agency-customers>

  <r-service-list
    class="service-list"
  ></r-service-list>

  <r-fabs *rWithSession>
    <button
      [routerLink]="['/services', service.slug, 'edit']"
      mat-fab
      color="primary"
    >
      <r-icon name="components/edit-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
