:host {
  ::ng-deep {
    r-header, r-service-header {
      background: #F8F8F8;
    }
  }

  &[type="complex"] ::ng-deep {
    r-header, r-service-header {
      background: #000;

      * {
        color: #fff;
      }
    }
  }
}

.service-list {
  background: #F8F8F8;
}

.w320 :host {
  ::ng-deep .block_type[rel="block_type_2"] {
    .row-column {
      flex-direction: column-reverse !important;
    }
  }
}
