<r-padding
  [horizontal]="true"
  class="row"
>
  <div class="row-column">
    <div class="h3" style="flex: 0;">
      О нас
    </div>
    <div
      r-parallax
      class="vector"
    >
      <img
        src="/assets/icons/main/vector.svg"
      />
    </div>
  </div>
  <div class="column">
    <div
      *ngFor="let item of about; let first = first;"
      [class.mt-6]="!first"
    >
      <div class="h3">{{item.title}}</div>
      <div class="text32 mt-1">
        {{item.description}}
      </div>
    </div>
  </div>
</r-padding>
