:host {
  display: block;
  background: #000;
  padding: 8rem 0;

  * {
    color: #fff;
  }
}

.w320 :host {
  padding: 22px 0;
}

.row {
  justify-content: space-between;

  * {
    flex: 1;
  }
}

.vector {
  position: sticky;
  top: 0;
  width: 190px;
  height: 190px;
}