<r-page [contentTmp]="contentTmp">

</r-page>

<ng-template #contentTmp>
  <r-padding [horizontal]="true">
    <div class="row-column">
      <div class="mt-4">
        <div class="address">
          <img src="/assets/icons/main/success.svg">
          <div class="text32 mt-4">
            Почтовый адрес
          </div>
          <div class="h3">
            hello+111119<span class="space"></span>@repinabranding.ru
          </div>
          <div class="text32 mt-4">
            Телефон
          </div>
          <div class="h3">
            +7 (499) 521-70-73
          </div>
          <div class="text32 mt-4">
            Адрес
          </div>
          <div class="h3">
            Россия, Москва пр. Мира 102/31
          </div>
        </div>
      </div>
      <r-request
        [disablePadding]="true"
        [title]="''"
      ></r-request>
    </div>
  </r-padding>
</ng-template>

<!--<r-padding
  [horizontal]="true"
  class="menu"
>
  <r-menu></r-menu>
</r-padding>

<div class="content">
  <r-padding [horizontal]="true">
    <div class="row-column">
      <div class="mt-8">
        <div class="address">
          <img src="/assets/icons/main/success.svg">
          <div class="text32 mt-4">
            Почтовый адрес
          </div>
          <div class="h3">
            hello+111119@repinabranding.ru
          </div>
          <div class="text32 mt-4">
            Телефон
          </div>
          <div class="h3">
            +7 (499) 521-70-73
          </div>
          <div class="text32 mt-4">
            Адрес
          </div>
          <div class="h3">
            Россия, Москва пр. Мира 102/31
          </div>
        </div>
      </div>
      <r-request
        [disablePadding]="true"
        [title]="''"
      ></r-request>
    </div>
  </r-padding>
</div>

<r-footer></r-footer>-->