.title {
  margin-top: 40px;
}

.address-wrapper {
  position: relative;
  overflow: hidden;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
  overflow: hidden;
  transition: 300ms;

  filter: grayscale(100%);
}

.pin {
  width: 128px;
  height: 146px;
}

.image {
  width: 64px;
  height: 124px;
}

.w1920 :host {
  .image {
    width: 94px;
    height: 192px;
  }
}

.w768 :host {
  .title {
    margin-bottom: 44px;
  }

  .map {
    height: 600px;
  }
}

.w320 :host {
  .title {
    margin-bottom: 64px;
  }

  .map {
    height: 400px;
  }

  .pin {
    width: 64px;
    height: 82px;
  }
}

.controls {
  position: absolute;
  right: 80px;
  top: 0;
}
