<r-padding>
  <div class="role">
    <div class="h4">Валерия Репина</div>
    <div class="text32">Креативный директор</div>
  </div>

  <div class="role">
    <div class="h4">Александра Холодная</div>
    <div class="text32">Стратег</div>
  </div>

  <div class="role">
    <div class="h4">Анвар Курбанов</div>
    <div class="text32">Арт-директор</div>
  </div>

  <div class="role">
    <div class="h4">Валерия Репина</div>
    <div class="text32">Креативный директор</div>
  </div>

  <div class="role">
    <div class="h4">Александра Холодная</div>
    <div class="text32">Стратег</div>
  </div>

  <div class="role">
    <div class="h4">Анвар Курбанов</div>
    <div class="text32">Арт-директор</div>
  </div>

  <div class="role">
    <div class="h4">Валерия Репина</div>
    <div class="text32">Креативный директор</div>
  </div>

  <div class="role">
    <div class="h4">Александра Холодная</div>
    <div class="text32">Стратег</div>
  </div>

  <div class="role">
    <div class="h4">Анвар Курбанов</div>
    <div class="text32">Арт-директор</div>
  </div>

</r-padding>
