@import "src/theme";

:host {
  position: relative;
  display: flex;
  justify-content: flex-end;
  transition: height 600ms, width 600ms, top 300ms, left 300ms, background-color 600ms 100ms;
  transform-origin: center;
  background: transparent;
  border-radius: 50%;

  &.absolute {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &:not(.absolute) {
    animation: 5s bounce infinite;
  }

  &.point {
    width: 10px;
    height: 10px;
    background: $color-red;

    video {
      //transition: 0ms;
      transform: scale(0);
    }
  }

  video {
    transition: 600ms;
  }
}

.w320 :host:not(.absolute) {
  animation: none;
}

:host {
  display: block;
  max-width: 556px;
  max-height: 556px;
  border-radius: 50%;
  overflow: hidden;
  //background: #fff;
  width: 600px;
  height: 600px;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    //display: none;
  }
}

.w1366 :host {
  $width: 416px;

  //.sphere {
  max-width: $width;
  max-height: $width;
  background-size: $width;
  //}
}

.w1024 :host, .w768 :host {
  $width: 266px;

  //.sphere {
  max-width: $width;
  max-height: $width;
  background-size: $width;
  //}

  .sphere-rating {
    right: 0;
  }
}

.w320 :host {
  $width: 128px;
  //flex: 0 !important;
  align-self: flex-end;
  margin-right: 40px;
  margin-top: -64px;

  //.sphere {
  max-width: $width;
  max-height: $width;
  background-size: $width;
  //}

  .sphere-rating {
    top: -24px;
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-25px, -25px, 0);
  }
  75% {
    transform: translate3d(25px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}



