<r-page
  backgroundImage="url('/assets/pictures/projects/detail.png')"
>
  <r-padding
    [horizontal]="true"
    class="mt-8"
  >
    <div class="nav row-column">
      <div class="links column">
        <a class="text32 bolder">Бренд-платформа</a>
        <a class="text32 bolder mt-1_5">Нейминг</a>
        <a class="text32 bolder mt-1_5">Фирменный стиль</a>
        <a class="text32 bolder mt-1_5">Упаковка</a>
      </div>
      <div>
        <div class="h3">Разработка бренда пигментов для перманентного макияжа</div>
        <div class="text32 mt-1">
          Перманентный макияж — относительно новое веяние в индустрии красоты, которое в последние годы стало популярным
          в России. Смысл процедуры заключается в нанесении татуажа с помощью иглы и краски на губы, брови или веки для
          получения стойкого цвета. Фактически, это косметическая татуировка. Перед нами стояла задача создать бренд
          перманентных красок с нуля: разработать позиционирование, название и дизайн упаковки.
        </div>
      </div>
    </div>
  </r-padding>

  <r-image
    src="/assets/pictures/11.png"
    class="mt-8"
  ></r-image>

  <r-project-detail-step
    index="1"
    title="Мастер своего дела"
    subtitle="Бренд-платформа"
    color="brown"
  >
    <div class="text32">
      По результатам интервью с мастерами и их клиентами, был найден инсайт: какими бы красавицами ни были женщины, они
      все равно хотят что-то в себе улучшить. В процессе работы мы задумались о понятии непреходящей красоты, о том
      существует ли неизменный эталон красоты и решили создать бренд, который поможет женщинам найти свой способ
      усовершенствования, свой эквивалент красоты.
    </div>
    <div class="mt-3 text32 bolder">
      Характер бренда
    </div>
    <ul class="text32 mt-1_5">
      <li>Энергичный</li>
      <li>Уверенный</li>
      <li>Творческий</li>
      <li>Смелый</li>
    </ul>
  </r-project-detail-step>

  <r-grid
    type="big-small"
  >
    <r-grid-image
      rel="1"
      src="/assets/pictures/1.png"
    ></r-grid-image>
    <r-grid-image
      rel="2"
      src="/assets/pictures/2.png"
    ></r-grid-image>
    <r-grid-image
      rel="3"
      src="/assets/pictures/3.png"
    ></r-grid-image>
  </r-grid>

  <r-project-detail-step
    index="2"
    title="Eqviv"
    subtitle="Нейминг"
  >
    <div class="text32">
      По результатам интервью с мастерами и их клиентами, был найден инсайт: какими бы красавицами ни были женщины, они
      все равно хотят что-то в себе улучшить. В процессе работы мы задумались о понятии непреходящей красоты, о том
      существует ли неизменный эталон красоты и решили создать бренд, который поможет женщинам найти свой способ
      усовершенствования, свой эквивалент красоты.
    </div>
  </r-project-detail-step>

  <r-grid
    type="big-small"
  >
    <r-grid-image
      rel="1"
      src="/assets/pictures/projects/2_1.png"
    ></r-grid-image>
    <r-grid-image
      rel="2"
      src="/assets/pictures/projects/2_2.png"
    ></r-grid-image>
    <r-grid-image
      rel="3"
      src="/assets/pictures/projects/2_3.png"
    ></r-grid-image>
  </r-grid>

  <r-project-detail-step
    index="3"
    title="Halftone"
    subtitle="Фирменный стиль"
  >
    <div class="text32">
      Иллюстрации на основании образов художественных полотен, выполненные с помощью точек в стилистике halftone,
      отражают сам процесс нанесения перманентного макияжа, набиваемого иглой.
    </div>
  </r-project-detail-step>

  <r-image
    src="/assets/pictures/projects/3_1.png"
  ></r-image>

  <r-grid
    type="small-big"
  >
    <r-grid-image
      rel="1"
      src="/assets/pictures/projects/3_2.png"
    ></r-grid-image>
    <r-grid-image
      rel="2"
      src="/assets/pictures/projects/3_3.png"
    ></r-grid-image>
    <r-grid-image
      rel="3"
      src="/assets/pictures/projects/3_4.png"
    ></r-grid-image>
  </r-grid>

  <r-project-detail-step
    index="4"
    title="Флаконы и коробочки"
    subtitle="Упаковка"
  >
    <div class="text32">
      Для флаконов были разработаны как отдельные минималистичные упаковки, так и коробочки для сетов. На каждой
      упаковке и флаконе точкой отмечены зоны применения перманентной краски: у Моны Лизы перманентный пигмент для
      бровей, у девушки с жемчужной сережкой – линия ресниц, у девушки с горностаем – губы.
    </div>
  </r-project-detail-step>

  <r-grid type="big">
    <r-image
      rel="1"
      src="/assets/pictures/projects/4.png"
    ></r-image>

    <r-quote
      rel="2"
      class="h3 bolder"
    >
      Не ожидали, что упаковка вдохновит нас еще больше. Получился настолько тонкий и одновременно смелый бренд!
    </r-quote>
  </r-grid>

  <r-grid type="big">
    <r-grid-text
      rel="1"
      color="brown"
      class="text32"
    >
      Для флаконов были разработаны как отдельные минималистичные упаковки, так и коробочки для сетов. На каждой
      упаковке и флаконе точкой отмечены зоны применения перманентной краски: у Моны Лизы перманентный пигмент для
      бровей, у девушки с жемчужной сережкой – линия ресниц, у девушки с горностаем – губы. Для флаконов были
      разработаны как отдельные упаковки, так и минималистичные коробочки для сетов. Открываешь фактурную черную коробку
      и достаешь флакон с мини-шедевром.
    </r-grid-text>
    <r-image
      rel="2"
      src="/assets/pictures/projects/5.png"
    ></r-image>
  </r-grid>

  <r-padding
    style="background: #F8F8F8"
    class="mt-2"
  >
    <div class="nav row-column">
      <div>
        <div class="h3 bolder">
          Иван Колесников
        </div>
        <div class="mt-1 text32">
          Сооснователь, генеральный директор Eqviv
        </div>
      </div>
      <div>
        <r-quote class="h3">
          Не ожидали, что упаковка вдохновит нас еще больше. Получился настолько тонкий и одновременно смелый бренд!
        </r-quote>
        <div class="text32 mt-1">
          Для флаконов были разработаны как отдельные минималистичные упаковки, так и коробочки для сетов. На каждой упаковке и флаконе точкой отмечены зоны применения перманентной краски: у Моны Лизы перманентный пигмент для бровей, у девушки с жемчужной сережкой – линия ресниц, у девушки с горностаем – губы.
        </div>
      </div>
    </div>
  </r-padding>

  <r-project-detail-roles></r-project-detail-roles>
</r-page>
