<r-padding
  [horizontal]="false"
  class="journal row"
>
  <div>
    <div class="intro">
      <div class="h3">
        Журнал
      </div>
      <div class="text32 mt-1">
        Мы любим слушать и любим говорить.<br>Читайте наш журнал о брендинге и дизайне
      </div>
      <r-button class="mt-2">
        Все статьи
      </r-button>
    </div>
  </div>
  <div>
    <r-journal-snippet
      image="/assets/pictures/journal/1.png"
      tag="Брендинг"
      title="Как создать нескучную упаковку для профессионального продукта"
    >
    </r-journal-snippet>
    <r-journal-snippet
      image="/assets/pictures/journal/2.png"
      tag="Маркетинг"
      title="Валерия Репина в РБК: как брендбук должен служить бизнесу"
      class="mt-6"
    >
    </r-journal-snippet>
    <r-journal-snippet
      image="/assets/pictures/journal/3.png"
      tag="Фирменный стиль"
      title="Как внедрить фирменный стиль в интерьер?"
      class="mt-6"
    >
    </r-journal-snippet>
  </div>
</r-padding>
