<r-padding
  [horizontal]="false"
  class="journal row"
>
  <div>
    <div class="intro">
      <r-md
        [editor]="editor"
        [props]="props"
        prop="title"
        className="h2"
      ></r-md>

      <r-md
        [editor]="editor"
        [props]="props"
        prop="description"
        className="text32 mt-1"
      ></r-md>

     <a [routerLink]="['/blog/']">
       <r-button class="mt-2">
         Все статьи
       </r-button>
     </a>
    </div>
  </div>
  <div>
    <r-main-article
      *ngFor="let article of elements; let first = first"
      [props]="article.props"
      [editor]="editor"
      [class.mt-6]="!first"
    ></r-main-article>
  </div>
</r-padding>
