<r-padding
  [horizontal]="false"
  class="journal row"
>
  <div>
    <div class="intro">
      <div class="h3">
        Журнал
      </div>
      <div
        *ngIf="editor"
        [r-block]="editor"
        [innerHTML]="$getValue('description')"
        (contentChanged)="$contentChanged($event, 'description')"
        class="text32 mt-1"
      ></div>

      <r-button class="mt-2">
        Все статьи
      </r-button>
    </div>
  </div>
  <div>
    <r-main-article
      *ngFor="let article of elements; let first = first"
      [props]="article.props"
      [editor]="editor"
      [class.mt-6]="!first"
    ></r-main-article>
  </div>
</r-padding>
