.journal {
  display: flex;
  justify-content: space-between;
  margin: 8rem 0;

  .intro {
    margin-right: 10%;
    margin-bottom: 4rem;
  }
}

.w768 :host, .w320 :host {
  .journal {
    flex-direction: column;
  }
}

.w320 :host {
  .journal {
    margin-bottom: 92px;
  }

  r-main-article {
    margin-top: 6rem;
  }
}
