:host {
  display: block;
  width: 100%;
  padding: 128px 75px;
  box-sizing: border-box;
}

:host.horizontal {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:host.disabled {
  padding: 0 !important;
}

.w1366 :host {
  padding: 48px 64px;
}

.w1024 :host {
  padding: 40px 35px;
}

.w768 :host {
  padding: 48px 30px;
}

.w320 :host {
  padding: 48px 12px;
}
