:host {
  display: block;
  padding: 128px 75px;
}

:host.horizontal {
  padding-top: 0!important;
  padding-bottom: 0;
}

.w1336 :host {
  padding: 48px 64px;
}

.w1024 :host {
  padding: 40px 35px;
}

.w768 :host {
  padding: 48px 30px;
}

.w320 :host {
  padding: 48px 12px;
}
