:host {
  display: block;
  width: 100%;
  padding: 128px 75px !important;
  box-sizing: border-box;
}

:host.horizontal {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:host.disabled {
  padding: 0 !important;
}

.w1366 :host {
  padding: 48px 64px !important;
}

.w1024 :host {
  padding: 40px 35px !important;
}

.w768 :host {
  padding: 48px 30px !important;
}

.w320 :host {
  padding: 48px 12px !important;
}
