:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 999;
  box-sizing: border-box;
  padding-top: 42px;

  * {
    color: #fff;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  text-align: right;

  .right {
    display: flex;
    align-items: center;
  }
}

.w320 :host {
  .request-button {
    display: none;
  }
}