<r-padding
  *ngIf="menu"
  [horizontal]="true"
>
  <div class="menu">
    <a [routerLink]="['/']">
      <r-logo menuColor="black"></r-logo>
    </a>
    <div class="right">
      <r-button
        (click)="$priceRequest()"
        class="request-button ml-2"
      >
        Запросить стоимость
      </r-button>
      <img
        (click)="$closeDrawer()"
        src="/assets/icons/menu/close.svg"
        width="48"
        class="menu-item ml-2"
      />
    </div>
  </div>
  <div class="mt-8">
    <a
      *ngFor="let item of $enabled(menu.content_elements)"
      [routerLink]="[item.props.href]"
      class="d-block mt-2 h2"
    >
      {{item.props.text}}
    </a>
  </div>
</r-padding>
