<!--div
  *ngIf="editor"
  [r-block]="editor"
  [innerHTML]="$getValue('title')"
  (contentChanged)="$contentChanged($event, 'title')"
  class="h2"
></div-->

<r-md
  [props]="props"
  [editor]="editor"
  prop="title"
  className="h2"
></r-md>

<r-md
  [props]="props"
  [editor]="editor"
  prop="text"
  className="text32"
  class="mt-1"
></r-md>

<!--
<div
  [r-block]="editor"
  [innerHTML]="$getValue('text')"
  (contentChanged)="$contentChanged($event, 'text')"
  class="text32 mt-1"
></div>-->
