<r-page
  backgroundImage="url('/assets/icons/services/complex.svg')"
  menuColor="black"
>
  <r-padding
    header
    [horizontal]="true"
  >
    <r-card
      color="black"
      size="small"
      subtitle="Услуги"
      title="Корпоративный брендинг"
      class="promo"
    >
      <div class="description text32 mt-1_5">
        Репина Брендинг — одно из ведущих брендинговых агентств в России. Мы осуществляем полный комплекс услуг по разработке бренда продукта от исследования и стратегии до дизайна упаковки.
      </div>
      <r-button
        class="mt-2"
      >
        Заказать
      </r-button>
    </r-card>
  </r-padding>

  <r-grid
    type="small"
    class="mt-2"
  >
    <r-image
      rel="1"
      src="/assets/pictures/7.png"
    >
    </r-image>
    <div
      rel="2"
    ></div>
    <r-image
      rel="3"
      src="/assets/pictures/8.png"
    >
    </r-image>
  </r-grid>
</r-page>
