.image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.badges {
  margin-top: 70px;
  margin-bottom: 70px;
}

.w1366, .w1024, .w768 {
  :host .badges {
    margin-top: 36px;
  }
}

.w320 :host {
  .badges {
    margin: 32px 0;
  }
}
