<r-page>
  <r-padding [horizontal]="true">
    <div class="promo">
      <r-card
        subtitle="Проекты"
        title="Создаем яркие самобытные решения"
      >
      </r-card>
    </div>

    <div class="mt-4">
      <r-badge-list
        [badges]="types"
      ></r-badge-list>
    </div>
  </r-padding>

  <mat-grid-list
    [cols]="cols"
    rowHeight="1.5:1"
    gutterSize="30"
    class="mt-4"
  >
    <mat-grid-tile
      *ngFor="let image of images; let index = index"
    >
      <r-grid-image
        [style.backgroundImage]="'url(/assets/pictures/' + image + '.png)'"
        r-parallax
      ></r-grid-image>
    </mat-grid-tile>
  </mat-grid-list>
</r-page>
