.projects {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.tags {
  margin-top: 70px;
  margin-bottom: 44px;
}

.w1366, .w1024, .w768 {
  :host .tags {
    margin-top: 36px;
  }
}

.w320 :host {
  .tags {
    margin: 32px 0;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}

.snippet {
  overflow: hidden;
}

.w768 :host {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
