.badges {
  margin-top: 70px;
  margin-bottom: 44px;
}

.w1366, .w1024, .w768 {
  :host .badges {
    margin-top: 36px;
  }
}

.w320 :host {
  .badges {
    margin: 32px 0;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.project {
  max-height: 450px;
}

r-project-snippet {
  margin-left: 15px;
  margin-right: 15px;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
