<r-page>
  <r-padding [horizontal]="true">
    <div class="promo">
      <r-card
        subtitle="Проекты"
        title="Создаем яркие самобытные решения"
        size="big"
      >
      </r-card>
    </div>

    <r-badge-list
      [badges]="types"
      class="badges"
    ></r-badge-list>
  </r-padding>

  <mat-grid-list
    [cols]="cols"
    rowHeight="1.5:1"
    gutterSize="30"
  >
    <mat-grid-tile
      *ngFor="let image of images; let index = index"
    >
      <a [routerLink]="['/projects/project-name']">
        <r-image
          [src]="'/assets/pictures/' + image + '.png'"
          r-parallax
        ></r-image>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</r-page>
