<r-page>
  <r-padding [horizontal]="true">
    <div class="promo">
      <r-card
        subtitle="Проекты"
        title="Создаем яркие самобытные решения"
      >
      </r-card>
    </div>

    <r-badge-list
      [badges]="types"
      class="badges"
    ></r-badge-list>
  </r-padding>

  <div
    *ngFor="let group of groups"
    class="row-column"
  >
    <ng-container
      *ngFor="let project of group; let index = index;"
    >
      <a
        *ngIf="project.slug"
        [routerLink]="[project.slug]"
        [class.m30]="index == 1"
        class="mb-30"
        style="overflow: hidden"
      >
        <r-image
          [src]="project.preview_file || '/assets/icons/project/placeholder.svg'"
          r-parallax
        ></r-image>
      </a>

      <div *ngIf="!project.slug"></div>
    </ng-container>
  </div>

  <r-fabs *rWithSession>
    <button
      [routerLink]="['/projects/new']"
      mat-fab
      color="primary"
    >
      <r-icon name="components/add-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
