<r-padding>
  <div
    *ngIf="$getValue('i')"
    [r-block]="editor"
    [innerHTML]="$getValue('i')"
    (contentChanged)="$contentChanged($event, 'i')"
    class="index h2"
  ></div>

  <r-md
    [props]="props"
    [editor]="editor"
    prop="title"
    className="h2"
    class="content title"
  ></r-md>

  <div class="inner">
    <div
      *ngIf="$getValue('date')"
      [r-block]="editor"
      [innerHTML]="$getValue('date')"
      (contentChanged)="$contentChanged($event, 'date')"
      class="date h4"
    ></div>

    <div class="content">
      <r-md
        [props]="props"
        [editor]="editor"
        prop="subtitle"
        className="h4"
        class="subtitle"
      ></r-md>

      <r-blocks-render
        *ngIf="elements?.length"
        [render]="render"
        [blocks]="elements"
        [data]="data"
        [editor]="editor"
        [availableElements]="availableElements"
        typeKey="element_type"
        class="row-column mb-30"
      ></r-blocks-render>
    </div>
  </div>
</r-padding>

