:host {

}

.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  .big {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

a:hover {
  text-decoration: none;

  ::ng-deep .h3 {
    text-decoration: underline;
  }
}

r-journal-snippet, .subscription-block {
  margin: 4rem 0;
}

.w768 :host {
  .group {
    grid-template-columns: repeat(2, 1fr);
  }
}

.w320 :host {
  .group {
    display: flex;
    flex-direction: column;
  }

  .subscription-block {
    margin: 0;
  }
}

