:host {

}

.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 128px;

  .big {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.tags {
  margin-top: 70px;
  margin-bottom: 44px;
}

.w1366, .w1024, .w768 {
  :host .tags {
    margin-top: 36px;
  }
}

.w320 :host {
  .tags {
    margin: 32px 0;
  }
}

a:hover {
  text-decoration: none;

  ::ng-deep .h3 {
    text-decoration: underline;
  }
}

.w768 :host {
  .group {
    grid-template-columns: repeat(2, 1fr);
  }
}

.w320 :host {
  .group {
    grid-template-columns: 1fr;
    grid-gap: 64px;
    margin-bottom: 64px;

    /*display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    grid-gap: 64px;*/
  }

  .subscription-block {
    margin: 0;
  }
}

