<r-page>
  <r-padding>
    <div class="promo">
      <r-card
        subtitle="Блог"
        title="Инсайты о бизнесе, брендинге и дизайне"
        size="big"
      >
      </r-card>
    </div>
    <r-badge-list
      [badges]="['Все', 'Колонка Валерии Репиной', 'Жизайн', 'Новости']"
      class="mt-2"
    ></r-badge-list>
  </r-padding>
  <r-padding
    *rWithSession
    [horizontal]="false"
  >
    <r-button
      [routerLink]="['/blog/new']"
    >
      Добавить статью
    </r-button>
  </r-padding>
  <r-padding *ngIf="groups">
    <div class="row-column">
      <a
        *ngFor="let article of main_articles; let first = first;"
        [routerLink]="[article.slug]"
        [class.big]="first"
        [class.small]="!first"
      >
        <r-journal-snippet
          [title]="article.blog_tag"
          [description]="article.title"
          image="/assets/pictures/journal/1.png"
        >
        </r-journal-snippet>
      </a>
    </div>

    <div
      *ngFor="let group of groups"
      class="row-column"
    >
      <ng-container *ngFor="let article of group; let index = index;">
        <a
          *ngIf="article.slug"
          [routerLink]="[article.slug]"
          [class.m30]="index == 1"
        >
          <r-journal-snippet
            [title]="article.blog_tag"
            [description]="article.title"
            image="/assets/pictures/journal/1.png"
          >
          </r-journal-snippet>
        </a>

        <div *ngIf="!article.slug"></div>
      </ng-container>
    </div>

    <!--
    <div class="subscription-block row-column">
      <r-journal-snippet
        image="/assets/pictures/journal/4.png"
        title="Брендинг"
        description="Как создать нескучную упаковку для профессионального продукта"
        class="big"
      >
      </r-journal-snippet>

      <r-subscribe
        class="small"
      >
      </r-subscribe>
    </div>
    -->

    <!--<div class="row-column">
      <r-journal-snippet
        image="/assets/pictures/journal/1.png"
        title="Брендинг"
        description="Как создать нескучную упаковку для профессионального продукта"
      >
      </r-journal-snippet>
      <r-journal-snippet
        image="/assets/pictures/journal/2.png"
        title="Маркетинг"
        description="Валерия Репина в РБК: как брендбук должен служить бизнесу"
        class="m30"
      >
      </r-journal-snippet>
      <r-journal-snippet
        image="/assets/pictures/journal/3.png"
        title="Фирменный стиль"
        description="Как внедрить фирменный стиль в интерьер?"
      >
      </r-journal-snippet>
    </div>-->
  </r-padding>
</r-page>
