<r-page>
  <r-padding>
    <div class="promo">
      <r-journal-header
        *ngIf="header$ | async"
        [props]="header.props"
        [editor]="editor"
      ></r-journal-header>
    </div>

    <r-badge-list
      *ngIf="tags$ | async as tags"
      (changed)="$applyTags($event)"
      [badges]="tags"
      class="mt-2"
    ></r-badge-list>
  </r-padding>

  <r-padding *ngIf="groups$ | async as groups">
    <div
      *ngFor="let group of groups"
      class="group"
    >
      <ng-container *ngFor="let article of group; let first = first; let index = index; let last = last;">
        <ng-container *ngIf="article">
          <a
            *ngIf="article.slug"
            [routerLink]="[article.slug]"
            [class.big]="group.length == 2 && first"
          >
            <r-journal-snippet
              [tag]="article.blog_tag?.title"
              [title]="article.title"
              [image]="article.preview_file || '/assets/pictures/journal/1.png'"
            >
            </r-journal-snippet>
          </a>

          <div *ngIf="!article.slug && !article.type"></div>

          <r-article-subscribe
            *ngIf="article.type === 'subscribe'"
            [props]="{ value: 'Узнавайте о последних новостях' }"
            class="subscription-block"
          ></r-article-subscribe>
        </ng-container>
      </ng-container>
    </div>
  </r-padding>

 <r-fabs *rWithSession>
   <button
     (click)="$reorder()"
     mat-fab
     color="primary"
   >
     <r-icon name="components/reorder"></r-icon>
   </button>

   <button
     [routerLink]="['/blog/new']"
     mat-fab
     color="primary"
     style="margin: 0 16px;"
   >
     <r-icon name="components/add-white"></r-icon>
   </button>

   <button
     *ngIf="!editor"
     (click)="editor = true"
     mat-fab
     color="primary"
   >
     <r-icon name="components/edit-white"></r-icon>
   </button>

   <button
     *ngIf="editor"
     (click)="$save()"
     mat-fab
     color="primary"
   >
     <r-icon name="components/checked-white"></r-icon>
   </button>
 </r-fabs>
</r-page>
<!--

            [class.ml-30]="!first"
            [class.mr-30]="group.length == 3 && index == 1"
-->
