<r-page>
  <r-padding [horizontal]="true">
    <div class="promo">
      <r-card
        subtitle="Блог"
        title="Инсайты о бизнесе, брендинге и дизайне"
      >
      </r-card>
    </div>
    <r-badge-list
      [badges]="['Все', 'Колонка Валерии Репиной', 'Жизайн', 'Новости']"
      class="mt-2"
    ></r-badge-list>

    <div class="row-column">
      <r-journal-snippet
        image="/assets/pictures/journal/1.png"
        title="Брендинг"
        description="Как создать нескучную упаковку для профессионального продукта"
        class="big"
      >
      </r-journal-snippet>

      <r-journal-snippet
        image="/assets/pictures/journal/2.png"
        title="Маркетинг"
        description="Валерия Репина в РБК: как брендбук должен служить бизнесу"
        class="small"
      >
      </r-journal-snippet>
    </div>

    <div class="row-column">
      <r-journal-snippet
        image="/assets/pictures/journal/1.png"
        title="Брендинг"
        description="Как создать нескучную упаковку для профессионального продукта"
      >
      </r-journal-snippet>
      <r-journal-snippet
        image="/assets/pictures/journal/2.png"
        title="Маркетинг"
        description="Валерия Репина в РБК: как брендбук должен служить бизнесу"
        class="m30"
      >
      </r-journal-snippet>
      <r-journal-snippet
        image="/assets/pictures/journal/3.png"
        title="Фирменный стиль"
        description="Как внедрить фирменный стиль в интерьер?"
      >
      </r-journal-snippet>
    </div>

    <div class="row-column">
      <r-journal-snippet
        image="/assets/pictures/journal/4.png"
        title="Брендинг"
        description="Как создать нескучную упаковку для профессионального продукта"
        class="big"
      >
      </r-journal-snippet>

      <r-subscribe
        class="small"
      >
      </r-subscribe>
    </div>
  </r-padding>
</r-page>
