<a
  *ngIf="project?.slug"
  [routerLink]="[$link()]"
  class="project"
  style="overflow: hidden"
>
  <r-image
    [src]="project.preview_file || '/assets/icons/project/placeholder.svg'"
    [alt]="project.title"
    class="image"
  ></r-image>

  <div *ngIf="!project.slug"></div>

  <r-project-snippet-overlay
    [class.static]="static"
    class="overlay"
  >
    <div
      [class.h1]="static"
      [class.text32]="!static"
      snippet-title
      class="text-white"
    >
      {{project.title}}
    </div>
    <div
      [class.h2]="!static"
      [class.text32]="static"
      class="text-white"
      snippet-description
    >
      {{project.description}}
    </div>
  </r-project-snippet-overlay>
</a>
