<a
  *ngIf="project?.slug"
  [target]="blank ? '_blank' : ''"
  [routerLink]="[$link()]"
  class="project"
  style="overflow: hidden"
>
  <r-image
    [src]="project.preview_file || '/assets/icons/project/placeholder.svg'"
    [alt]="project.title"
    class="image"
  ></r-image>

  <div *ngIf="!project.slug"></div>

  <r-project-snippet-overlay
    (rMousemove)="$hover(true)"
    (mouseleave)="$hover(false)"
    [class.static]="static"
    [class.active]="mouseover"
    class="overlay"
  >
    <div
      [class.h1]="static"
      [class.text32]="!static"
      [innerHTML]="project.description | linebreaks"
      class="text-white"
      snippet-title
    ></div>
    <div
      [class.h2]="!static"
      [class.text32]="static"
      [innerHTML]="project.title | linebreaks"
      class="text-white"
      snippet-description
    ></div>
  </r-project-snippet-overlay>
</a>
