@import "src/theme";

:host {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;

  &:not(.static) {
    .overlay {
      opacity: 0;

    }

    &:hover .overlay {
      transition: 100ms;
      opacity: 1;
    }
  }
}

/*
.image {

}

.w1366 .image {
  max-height: 310px;
}

.w1024 .image, .w320 .image {
  max-height: 230px;
}

.w768 .image {
  max-height: 265px;
}

.image {
  max-height: 450px;
  overflow: hidden;
}
*/
