<div class="h1_5">Материалы</div>

<r-ref-block class="mt-5">
  <div index>01</div>

  <div class="h3">Главные факты о нас</div>
  <div class="main-info mt-2_5">
    <r-ref-agency-achievement>
      <ng-container title>5 место</ng-container>
      В рейтинге лучших брендинговых агентств России по версии АКАР
    </r-ref-agency-achievement>

    <r-ref-agency-achievement>
      <ng-container title>8 лет на рынке</ng-container>
      И более 200 проектов
    </r-ref-agency-achievement>

    <r-ref-agency-achievement>
      <ng-container title>Рейтинг Forbes</ng-container>
      Проекты, созданные в Repina branding, попадают в рейтинг Forbes
    </r-ref-agency-achievement>

    <r-ref-agency-achievement>
      <ng-container title>20 экспертов</ng-container>
      В штате Repina branding
    </r-ref-agency-achievement>

    <r-ref-agency-achievement>
      <ng-container title>215 проектов</ng-container>
      Технологии, FMCG, ритейл, медицина, финансы, e-commerce, девелопмент, промышленность
    </r-ref-agency-achievement>

    <r-ref-agency-achievement>
      <ng-container title>АБКР</ng-container>
      Входим в Ассоциацию брендинговых компаний России
    </r-ref-agency-achievement>
  </div>

  <r-agency-awards
    [embed]="true"
    [props]="{
      title: 'Наши награды'
    }"
    class="awards mt-4"
  ></r-agency-awards>

  <r-agency-customers
    [props]="{
      title: 'Клиенты'
    }"
    class="customers"
  ></r-agency-customers>
</r-ref-block>

<r-ref-block class="mt-5">
  <div index>02</div>

  <div class="h3">Наше портфолио по проектам</div>


</r-ref-block>
