@import 'src/theme';

:host {
  display: block;
  overflow: hidden;

  r-padding {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.list {
  transition: 600ms;
}

.member-image {
  width: 30vw;
  min-width: 200px;
  padding-top: 100%;
  background: center $color-gray;
  background-size: cover;

  &.transparent {
    opacity: 0;
  }
}

.w320 :host {
  r-padding {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}