<r-padding [horizontal]="false">
  <div class="row space-between">
    <r-md
      [editor]="editor"
      [props]="props"
      prop="title"
      className="h2"
    ></r-md>
    <div class="indicator">
      <div
        *ngFor="let _ of pages; let index = index"
        (click)="$setIndex(index)"
        [class.active]="index == currentIndex"
        class="point"
      ></div>
    </div>
  </div>

  <div
    *ngIf="members$ | async as members"
    (swipeleft)="$next()"
    (swiperight)="$prev()"
    [style.marginLeft.%]="$margin(currentIndex)"
    class="row list mt-3"
  >
    <div
      *ngFor="let member of members; let first = first;"
      [class.ml-2]="!first"
      class="member"
    >
      <div
        [style.backgroundImage]="member.file ? 'url(' + member.file + ')' : null"
        class="member-image"
      ></div>
      <div class="capitalize h2 mt-2">
        {{member.props.name}}
      </div>
      <div class="capitalize text32 mt-1">
        {{member.props.role}}
      </div>
    </div>

    <div class="member ml-2">
      <div class="member-image transparent"></div>
    </div>
    <div class="member ml-2">
      <div class="member-image transparent"></div>
    </div>
  </div>

  <div class="indicator indicator-mobile mt-6">
    <div
      *ngFor="let _ of pages; let index = index"
      (click)="$setIndex(index)"
      [class.active]="index == currentIndex"
      class="point"
    ></div>
  </div>
</r-padding>
