<ng-container *ngIf="projects && promo">
  <r-grid
    [mobileGrid]="true"
    type="big-small"
  >
    <r-main-project
      [editor]="editor"
      [props]="projects[0].props"
      rel="1"
      r-parallax
    ></r-main-project>
    <r-main-project
      [editor]="editor"
      [props]="projects[1].props"
      rel="2"
      r-parallax
    ></r-main-project>
    <r-main-project
      [editor]="editor"
      [props]="projects[2].props"
      rel="3"
      r-parallax
    ></r-main-project>
  </r-grid>

  <r-grid
    [mobileGrid]="true"
    type="small-wide-narrow"
    class="mt-30"
  >
    <r-main-project
      [editor]="editor"
      [props]="projects[3].props"
      rel="1"
      r-parallax
    ></r-main-project>

    <r-promo-card
      [editor]="editor"
      [id]="promo[0].id"
      [props]="promo[0].props"
      [contentFile]="promo[0].content_file"
      type="1"
      rel="2"
      r-parallax
    ></r-promo-card>
  </r-grid>

  <r-grid
    [mobileGrid]="true"
    type="small"
    class="mt-30"
  >
    <r-main-project
      [editor]="editor"
      [props]="projects[4].props"
      rel="1"
      r-parallax
    ></r-main-project>

    <r-main-project
      [editor]="editor"
      [props]="projects[5].props"
      rel="2"
      r-parallax
    ></r-main-project>

    <r-main-project
      [editor]="editor"
      [props]="projects[6].props"
      rel="3"
      r-parallax
    ></r-main-project>
  </r-grid>

  <r-grid
    [mobileGrid]="true"
    type="small-big"
    class="mt-30"
  >
    <r-promo-card
      [editor]="editor"
      [id]="promo[1].id"
      [props]="promo[1].props"
      [contentFile]="promo[1].content_file"
      type="2"
      rel="1"
      r-parallax
    ></r-promo-card>

    <r-main-project
      [editor]="editor"
      [props]="projects[7].props"
      rel="2"
      r-parallax
    ></r-main-project>

    <r-main-project
      [editor]="editor"
      [props]="projects[8].props"
      rel="3"
      r-parallax
    ></r-main-project>
  </r-grid>

  <r-grid
    [mobileGrid]="true"
    type="small"
    class="mt-30"
  >
    <r-main-project
      [editor]="editor"
      [props]="projects[9].props"
      rel="1"
      r-parallax
    ></r-main-project>

    <r-promo-card
      [editor]="editor"
      [id]="promo[2].id"
      [props]="promo[2].props"
      [contentFile]="promo[2].content_file"
      type="3"
      rel="2"
      r-parallax
    ></r-promo-card>

    <r-main-project
      [editor]="editor"
      [props]="projects[10].props"
      rel="3"
      r-parallax
    ></r-main-project>
  </r-grid>

  <r-grid
    [mobileGrid]="true"
    type="small"
    class="mt-30"
  >
    <r-main-project
      [editor]="editor"
      [props]="projects[11].props"
      rel="1"
      r-parallax
    ></r-main-project>

    <r-main-project
      [editor]="editor"
      [props]="projects[12].props"
      rel="2"
      r-parallax
    ></r-main-project>

    <r-project-all
      rel="3"
      r-parallax
    ></r-project-all>
  </r-grid>
</ng-container>
