<ng-container *ngIf="elements">
  <r-grid type="big-small">
    <r-main-project
      [editor]="editor"
      [props]="elements[0].props"
      rel="1"
    ></r-main-project>
    <r-main-project
      [editor]="editor"
      [props]="elements[1].props"
      rel="2"
    ></r-main-project>
    <r-main-project
      [editor]="editor"
      [props]="elements[2].props"
      rel="3"
    ></r-main-project>
  </r-grid>

  <r-grid
    type="small-wide"
    class="mt-30"
  >
    <r-main-project
      [editor]="editor"
      [props]="elements[3].props"
      rel="1"
    ></r-main-project>

    <r-promo-card
      [editor]="editor"
      [props]="elements[4].props"
      [contentFile]="elements[4].content_file"
      r-parallax
      rel="2"
    >
    </r-promo-card>
  </r-grid>

  <r-grid
    type="small"
    class="mt-30"
  >
    <r-main-project
      [editor]="editor"
      [props]="elements[5].props"
      rel="1"
    ></r-main-project>

    <r-main-project
      [editor]="editor"
      [props]="elements[6].props"
      rel="2"
    ></r-main-project>

    <r-main-project
      [editor]="editor"
      [props]="elements[7].props"
      rel="3"
    ></r-main-project>
  </r-grid>

  <r-grid
    type="small-big"
    class="mt-30"
  >
    <r-promo-card
      rel="1"
      [editor]="editor"
      [props]="elements[8].props"
      [contentFile]="elements[8].content_file"
      r-parallax
    >
    </r-promo-card>

    <r-main-project
      [editor]="editor"
      [props]="elements[9].props"
      rel="2"
    ></r-main-project>

    <r-main-project
      [editor]="editor"
      [props]="elements[10].props"
      rel="3"
    ></r-main-project>
  </r-grid>

  <r-grid
    type="small"
    class="mt-30"
  >
    <r-main-project
      [editor]="editor"
      [props]="elements[11].props"
      rel="1"
    ></r-main-project>

    <r-promo-card
      rel="2"
      [editor]="editor"
      [props]="elements[12].props"
      [contentFile]="elements[12].content_file"
      r-parallax
    ></r-promo-card>

    <r-main-project
      [editor]="editor"
      [props]="elements[13].props"
      rel="3"
    ></r-main-project>
  </r-grid>

  <r-grid
    type="small"
    class="mt-30"
  >
    <r-main-project
      [editor]="editor"
      [props]="elements[14].props"
      rel="1"
    ></r-main-project>

    <r-main-project
      [editor]="editor"
      [props]="elements[15].props"
      rel="2"
    ></r-main-project>

    <r-project-all rel="3"></r-project-all>
  </r-grid>
</ng-container>

<!--
<div
  *ngIf="editor"
  class="row"
  style="min-height: 100%"
>
  <r-agency-image
    *ngFor="let element of elements; let index = index"
    [attr.rel]="index"
    [id]="element.id"
    [props]="element.props"
    [contentFile]="element.content_file"
    [editor]="true"
  ></r-agency-image>
</div>-->
