@import 'src/theme';

:host  {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &.has-index {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.index {
  margin-right: 4rem;
}

.column {
  width: 100%;
}

.title {
  margin-bottom: 8px;
}
