@import 'src/theme';

:host  {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 8rem;
  padding-bottom: 8rem;

  &.has-index {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &.center {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

.index {
  margin-right: 4rem;
}
