<div
  *ngIf="$getValue('i') && index == 0"
  [r-block]="editor"
  [innerHTML]="$getValue('i')"
  (contentChanged)="$contentChanged($event, 'i')"
  class="index h2"
></div>

<div class="column">
  <r-md
    *ngIf="$getValue('title')"
    [props]="props"
    [editor]="editor"
    className="h2 title"
    prop="title"
    class="title"
  ></r-md>

  <r-md
    *ngIf="$getValue('subtitle')"
    [props]="props"
    [editor]="editor"
    className="text32"
    prop="subtitle"
    class="subtitle"
  ></r-md>
</div>
