@import "src/theme";

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110%;
  background: #F8F8F8;

  * {
    color: inherit;
  }

  .all-icon {
    background-image: url('/assets/icons/main/all.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 50px;
    width: 277px;
  }

  &:hover {
    .all-icon {
      background-image: url('/assets/icons/main/all-active.svg');
    }

    color: $color-red;
  }
}

a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.w1366 :host .all-icon {
  width: 185px;
  height: 30px;
}
