<r-article-image
  [id]="id"
  [contentFile]="contentFile"
  [props]="props"
  [editor]="editor"
  [itemprop]="'url image'"
  class="avatar"
></r-article-image>

<div
  [r-block]="editor"
  (contentChanged)="$contentChanged($event, 'name')"
  class="h4 mt-1"
  itemprop="author"
>
  {{$getValue('name')}}
</div>
<div class="text32">
  Автор
</div>

<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization"></div>
<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"></div>
