:host {
  display: block;

  &:not([editor]) {
    margin-top: -75px;
    padding-bottom: 75px;
  }
}

.avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
