<r-page>
  <r-main-header></r-main-header>

  <r-service-list
    [editor]="editor"
    groupBy="parent"
  ></r-service-list>

  <r-blocks-render
    *ngIf="blocks$ | async as blocks"
    [render]="render"
    [blocks]="blocks"
    [editor]="editor"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      *ngIf="!editor"
      (click)="editor = true"
      mat-fab
      color="primary"
    >
      <r-icon name="components/edit-white"></r-icon>
    </button>

    <button
      *ngIf="editor"
      (click)="$save()"
      mat-fab
      color="primary"
    >
      <r-icon name="components/checked-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
