:host {
  ::ng-deep .block_type[rel="block_type_0"] {
    position: static;
  }
}

.w768 :host, .w320 :host {
  r-sphere {
    margin-top: 64px;
  }
}

.w320 :host {
  .services ::ng-deep r-nav-list {
    padding-top: 0;
  }
}