<r-page *ngIf="blocks$ | async as blocks">
  <r-blocks-render
    [render]="render"
    [blocks]="[blocks[0]]"
    [editor]="editor"
  ></r-blocks-render>

  <r-service-list
    [editor]="editor"
    groupBy="parent"
    class="services"
  ></r-service-list>

  <r-blocks-render
    [render]="render"
    [blocks]="blocks.slice(1)"
    [editor]="editor"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      (click)="$reorder()"
      mat-fab
      color="primary"
      style="margin-right: 16px"
    >
      <r-icon name="components/reorder"></r-icon>
    </button>

    <button
      *ngIf="!editor"
      (click)="editor = true"
      mat-fab
      color="primary"
    >
      <r-icon name="components/edit-white"></r-icon>
    </button>

    <button
      *ngIf="editor"
      (click)="$save()"
      mat-fab
      color="primary"
    >
      <r-icon name="components/checked-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
