<r-page>
  <r-main-header></r-main-header>

  <r-service-list groupBy="parent"></r-service-list>

  <r-grid type="big-small">
    <r-project-snippet
      [project]="{
        'id': 1,
        'title': 'title',
        'slug': 'slug',
        'status': 'active'
      }"
      rel="1"
      r-parallax
    >
    </r-project-snippet>

    <r-image
      rel="2"
      src="/assets/pictures/2.png"
      r-parallax
    >
    </r-image>
    <r-image
      rel="3"
      src="/assets/pictures/3.png"
      r-parallax
    >
    </r-image>
  </r-grid>


  <r-grid
    type="small-big"
    class="mt-2"
  >
    <r-promo-card
      rel="1"
      type="2"
      title="Новость года! Мы получили 8 наград в области бренд-дизайна"
      image="/assets/icons/main/promo_2.svg"
      r-parallax
    >
    </r-promo-card>
    <r-image
      rel="2"
      src="/assets/pictures/5.png"
      r-parallax
    >
    </r-image>
    <r-image
      rel="3"
      src="/assets/pictures/6.png"
      r-parallax
    >
    </r-image>
  </r-grid>

  <r-grid
    type="small"
    class="mt-2"
  >
    <r-image
      rel="1"
      src="/assets/pictures/7.png"
      r-parallax
    >
    </r-image>
    <r-promo-card
      rel="2"
      type="3"
      title="Как сделать инновационный продукт брендом"
      image="/assets/icons/main/promo_3.svg"
      r-parallax
    ></r-promo-card>
    <r-image
      rel="3"
      src="/assets/pictures/8.png"
      r-parallax
    >
    </r-image>
  </r-grid>

  <r-grid
    type="small"
    class="mt-2"
  >
    <r-image
      rel="1"
      src="/assets/pictures/9.png"
      r-parallax
    >
    </r-image>
    <r-image
      rel="2"
      src="/assets/pictures/10.png"
      r-parallax
    >
    </r-image>

    <r-project-all
      rel="3"
      r-parallax
    ></r-project-all>
  </r-grid>

  <r-padding
    [horizontal]="false"
    class="journal row"
  >
    <div>
      <div class="intro">
        <div class="h3">
          Журнал
        </div>
        <div class="text32 mt-1">
          Мы любим слушать и любим говорить.<br>Читайте наш журнал о брендинге и дизайне
        </div>
        <r-button class="mt-2">
          Все статьи
        </r-button>
      </div>
    </div>
    <div>
      <r-journal-snippet
        image="/assets/pictures/journal/1.png"
        title="Брендинг"
        description="Как создать нескучную упаковку для профессионального продукта"
      >
      </r-journal-snippet>
      <r-journal-snippet
        image="/assets/pictures/journal/2.png"
        title="Маркетинг"
        description="Валерия Репина в РБК: как брендбук должен служить бизнесу"
        class="mt-6"
      >
      </r-journal-snippet>
      <r-journal-snippet
        image="/assets/pictures/journal/3.png"
        title="Фирменный стиль"
        description="Как внедрить фирменный стиль в интерьер?"
        class="mt-6"
      >
      </r-journal-snippet>
    </div>
  </r-padding>

  <r-about
    r-parallax
    direction="reverse"
  ></r-about>
</r-page>
