<div
  *ngFor="let block of $visible(blocks); let index = index; let first = first; let last = last;"
  (viewportIntersect)="$blockVisible($event, index)"
  [attr.rel]="typeKey + '_' + index"
  [attr.class]="typeKey +  ' content-item'"
>
  <!--(inViewport >= index ? ' in-viewport' : '') +-->
  <r-block-switcher
    *ngIf="editor && typeKey == 'element_type' && availableElements?.length"
    (change)="$setType(block, $event)"
    [availableElements]="availableElements"
  >
    {{block.element_type}}
  </r-block-switcher>

  <ndc-dynamic
    [ndcDynamicComponent]="$component(block)"
    [ndcDynamicInputs]="{
      id: block.id,
      props: block.props,
      contentFile: block.content_file,
      elements: block.content_elements,
      availableElements: availableElements,
      editor: editor,
      render: render,
      index: index,
      data: data
    }"
  ></ndc-dynamic>

  <div
    *ngIf="editor && $hasControls(block)"
    class="controls"
  >
    <button
      (click)="availableBlocks ? null : $addBlock(block, 1)"
      (onMenuOpen)="$checkMenu(blockSelector)"
      [matMenuTriggerFor]="blockSelector"
      [matMenuTriggerData]="{block: block, offset: 1}"
      mat-fab
      color="primary"
    >
      <r-icon name="components/add-white"></r-icon>
    </button>
  </div>

  <div
    *ngIf="editor && $hasControls(block)"
    class="main-controls row"
  >
    <r-icon-button
      [matMenuTriggerFor]="blockControl"
      [matMenuTriggerData]="{block: block, offset: 1}"
      icon="more"
      matTooltip="Управление"
      class="icon"
    ></r-icon-button>
  </div>

  <mat-menu
      #blockSelector="matMenu"
  >
    <ng-template
      matMenuContent
      let-block="block"
      let-offset="offset"
    >
      <button
        *ngFor="let blockDescriptor of availableBlocks"
        (click)="$addBlock(block, offset, blockDescriptor.value)"
        mat-menu-item
      >
        {{blockDescriptor.label}}
      </button>
    </ng-template>
  </mat-menu>

  <mat-menu #blockControl="matMenu">
    <ng-container *ngTemplateOutlet="controlTmp; context: {block: block}"></ng-container>

    <button mat-menu-item>
      <mat-checkbox
        [(ngModel)]="block.is_enabled"
      >Использовать</mat-checkbox>
    </button>

    <button
      *ngIf="!first"
      (click)="$move(block, -1)"
      mat-menu-item
    >
      <r-icon-button
        [size]="18"
        icon="arrow-up"
        class="icon"
      ></r-icon-button>
      Переместить вверх
    </button>

    <button
      *ngIf="!last"
      (click)="$move(block, 1)"
      mat-menu-item
    >
      <r-icon-button
        [size]="18"
        icon="arrow-down"
        class="icon"
      ></r-icon-button>
      Переместить вниз
    </button>

    <button mat-menu-item>
      <r-icon-button
        (click)="$swapElements(block)"
        [size]="18"
        icon="repeat"
      >
        Поменять элементы местами
      </r-icon-button>
    </button>

    <button mat-menu-item>
      <r-icon-button
        (click)="$remove(block)"
        [size]="18"
        icon="close"
      >Удалить
      </r-icon-button>
    </button>
  </mat-menu>
</div>
