<div
  *ngFor="let block of $visible(blocks); let index = index"
  [attr.rel]="typeKey + '_' + index"
  [attr.class]="typeKey + ' content-item'"
>
  <ng-container [ngSwitch]="block[typeKey]">
    <r-article-header
      *ngSwitchCase="'article-header'"
      [props]="block.props"
      [editor]="editor"
    ></r-article-header>

    <r-article-part
      *ngSwitchCase="'article-part'"
      [props]="block.props"
      [elements]="block.content_elements"
      [editor]="editor"
    ></r-article-part>

    <r-article-text
      *ngSwitchCase="'article-text'"
      [props]="block.props"
      [editor]="editor"
    ></r-article-text>

    <r-article-image
      *ngSwitchCase="'article-image'"
      [props]="block.props"
      [editor]="editor"
    ></r-article-image>

    <r-article-quote
      *ngSwitchCase="'article-quote'"
      [props]="block.props"
      [editor]="editor"
    ></r-article-quote>

    <r-article-author
      *ngSwitchCase="'article-author'"
      [props]="block.props"
      [editor]="editor"
    ></r-article-author>
  </ng-container>

  <r-icon-button
    *ngIf="editor"
    (click)="$remove(block)"
    icon="close"
    class="remove mt-1 ml-2"
  >

  </r-icon-button>
</div>
