:host {
  display: block;
}

.block_type {
  &:not(:first-of-type) {
    margin-top: 4rem;
  }
}

.content-item {
  position: relative;

  &:hover {
    > .controls {
      opacity: 1;
    }
  }
}

.block-control {
  display: none !important;
}

.controls {
  opacity: 0;
  cursor: pointer;
  transition: 300ms;
}

::ng-deep {
  .editable {
    border-bottom: 1px dashed #CFD8DC;
    min-height: 32px;
    min-width: 32px;
  }

  [rel=element_type_0] {
    flex: 1.5;
  }
}

.revert {
  transform: rotate(180deg);
}

.move-block {
  text-align: center;
  margin: 48px 0;

  &.move-down {
    border-top: 1px solid #000;
    .icon {
      margin-top: -3px;
    }
  }

  &.move-up  {
    border-bottom: 1px solid #000;
    .icon {
      margin-bottom: -3px;
    }
  }

  .icon {
    width: 300px;
    height: 80px;
    border-bottom-left-radius: 100px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 100px; /* 100px of height + 10px of border */
    border: 1px solid #000;
    border-top: 3px solid #fff;
    padding: 0 36px 36px 36px;
    background: #fff;
  }
}
