<div
  *ngFor="let block of blocks; let index = index; let last = last;"
  [attr.rel]="typeKey + '_' + index"
  [attr.class]="typeKey + ' content-item'"
>
  <div
    *ngIf="editor && typeKey == 'block_type' && $hasControls(block) && index > 1"
    (click)="$move(block, -1)"
    class="move-block move-up controls"
  >
    <r-icon
      name="components/down-arrow"
      class="icon revert"
    ></r-icon>
  </div>

  <r-block-switcher
    *ngIf="editor && typeKey == 'element_type'"
    (change)="$setType(block, $event)"
    [availableElements]="availableElements"
  >
    {{block.element_type}}
  </r-block-switcher>

  <ng-container [ngSwitch]="block[typeKey]">
    <r-article-header
      *ngSwitchCase="'article-header'"
      [props]="block.props"
      [elements]="block.content_elements"
      [editor]="editor"
    ></r-article-header>

    <r-article-blank
      *ngSwitchCase="'article-blank'"
      [props]="block.props"
      [editor]="editor"
    ></r-article-blank>

    <r-article-part
      *ngSwitchCase="'article-part'"
      [props]="block.props"
      [elements]="block.content_elements"
      [availableElements]="availableElements"
      [editor]="editor"
    ></r-article-part>

    <r-article-text
      *ngSwitchCase="'article-text'"
      [props]="block.props"
      [editor]="editor"
    ></r-article-text>

    <r-article-image
      *ngSwitchCase="'article-image'"
      [id]="block.id"
      [contentFile]="block.content_file"
      [props]="block.props"
      [editor]="editor"
    ></r-article-image>

    <r-article-quote
      *ngSwitchCase="'article-quote'"
      [id]="block.id"
      [contentFile]="block.content_file"
      [props]="block.props"
      [editor]="editor"
    ></r-article-quote>

    <r-article-author
      *ngSwitchCase="'article-author'"
      [id]="block.id"
      [contentFile]="block.content_file"
      [props]="block.props"
      [editor]="editor"
    ></r-article-author>
  </ng-container>

  <div
    *ngIf="editor && !last && typeKey == 'block_type' && $hasControls(block)"
    (click)="$move(block, 1)"
    class="move-block move-down controls"
  >
    <r-icon
      name="components/down-arrow"
      class="icon"
    ></r-icon>
  </div>

  <!--<div
    *ngIf="editor && $hasControls(block)"
    class="controls row"
  >
    <mat-checkbox
      *ngIf="typeKey == 'block_type'"
      [(ngModel)]="block.is_enabled"
    ></mat-checkbox>

    <r-icon-button
      (click)="$addBlock(block, 0)"
      [size]="18"
      icon="down-arrow"
      class="block-control row revert ml-2"
    > + </r-icon-button>

    <r-icon-button
      (click)="$addBlock(block, 1)"
      [size]="18"
      icon="down-arrow"
      class="block-control row ml-1"
    > + </r-icon-button>

    <r-icon-button
      (click)="$swapElements(block)"
      [size]="18"
      icon="repeat"
      class="block-control ml-3"
    ></r-icon-button>

    <r-icon-button
      (click)="$move(block, -1)"
      [size]="18"
      icon="down-arrow"
      class="block-control revert"
    ></r-icon-button>

    <r-icon-button
      (click)="$remove(block)"
      [size]="18"
      icon="close"
      class="ml-3"
    ></r-icon-button>
  </div-->
</div>
