:host {
  display: block;

  mat-menu {
    display: none;
  }

  &.editor {
    .content-item {
      height: max-content;
    }

    mat-menu {
      display: block;
    }
  }
}

:host.animated {
  overflow: hidden;

  .block_type:not(:first-of-type) {
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
    -webkit-transition: 600ms 100ms linear;
    transition: 600ms 100ms ease-out;
    will-change: transform;

    &.in-viewport {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.content-item {
  position: relative;

  &:hover {
    > .controls {
      opacity: 1;
    }
  }
}

.block-control {
  display: none !important;
}

.controls {
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -28px;
  opacity: 0;
  cursor: pointer;
  transition: 300ms;

  button {
    width: 40px;
    height: 40px;

    ::ng-deep .mat-button-wrapper {
      padding: 0;
    }
  }
}

.main-controls {
  position: absolute;
  right: 40px;
  top: 0;
  align-items: center;
  background: rgba(255, 255, 255, .4);
  padding: 12px;
  border-radius: 50%;

  ::ng-deep img {
    margin: 0;
  }
}

:host ::ng-deep {
  [rel=element_type_0] {
    flex: 1.5;
    max-width: 55%;
  }
}
