:host {
  display: block;
}

.block_type {
  &:not(:first-of-type) {
    margin-top: 4rem;
  }

  & > .controls {
    top: 44px;
    right: 64px;

    .block-control {
      display: flex !important;
    }
  }
}

.content-item {
  position: relative;

  &:hover {
    > .controls {
      opacity: 1;
    }
  }
}

.block-control {
  display: none !important;
}

.controls {
  opacity: 0;
  position: absolute;
  right: 0;
  top: -20px;
  cursor: pointer;
  transition: 300ms;

  .revert {
    transform: rotate(180deg);
  }
}

::ng-deep {
  .editable {
    border-bottom: 1px dashed #CFD8DC;
    min-height: 32px;
    min-width: 32px;
  }
}
