<r-padding
  *ngIf="awards$ | async as awards"
  [horizontal]="true"
>
  <div class="row-column">
    <div>
      <h2>
        Наши награды
      </h2>
      <div
        *ngIf="last > 0"
        class="arrows"
      >
        <r-arrow
          (click)="$prev()"
          [color]="currentIndex == 0 ? '#86827F': '#fff'"
          type="prev"
        ></r-arrow>
        <r-arrow
          (click)="$next()"
          [color]="currentIndex == last ? '#86827F': '#fff'"
          type="next"
          class="ml-2"
        ></r-arrow>
      </div>
    </div>
    <table
      [@slider]="currentIndex"
      class="awards"
    >
      <thead>
        <th class="year">Год</th>
        <th class="title">Награда</th>
        <th>Место</th>
        <th>Номинация</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let award of $page(awards)"
        >
          <td class="text32 year">{{award.props.year}}</td>
          <td class="text32 bolder title">{{award.props.title}}</td>
          <td class="text32">{{award.props.position}}</td>
          <td class="text32">{{award.props.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</r-padding>
