@import 'src/styles';

:host {
  display: block;
  background: #000;

  ::ng-deep * {
    color: #fff !important;
  }
}

.small {
  display: none;
}

.next {
  margin-left: 2rem;
}

.awards {
  flex: 2 !important;
  border-spacing: 0;
  text-align: left;

  th {
    @extend .text24;
    padding: 1.5rem 0;
    border-bottom: 2px solid #fff;
  }

  td {
    padding: 2rem 2rem 2rem 0;
    border-bottom: 2px solid #fff;
    width: 20%;
  }

  .year {
    width: 10%;
  }

  .title {
    width: 30%;
  }
}

.arrows {
  margin: 6rem 0;
}

.w320 :host {
  .big {
    display: none;
  }

  .small {
    display: table;
  }
}

:host.embed {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }

  .arrows {
    margin: 0;
  }

  .pv-128 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
}

.w320 :host.embed {
  .header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .arrows {
    margin-top: 6rem;
  }
}
