@import 'src/styles';

:host {
  display: block;
  background: #000;

  ::ng-deep * {
    color: #fff;
  }
}

.small {
  display: none;
}

.next {
  margin-left: 2rem;
}

.awards {
  flex: 2 !important;
  border-spacing: 0;
  text-align: left;

  th {
    @extend .text24;
    padding: 1.5rem 0;
    border-bottom: 2px solid #fff;
  }

  td {
    padding: 2rem 2rem 2rem 0;
    border-bottom: 2px solid #fff;
    width: 20%;
  }

  .year {
    width: 10%;
  }

  .title {
    width: 30%;
  }
}

.arrows {
  margin: 6rem 0;
}

.w320 :host {
  .big {
    display: none;
  }

  .small {
    display: table;
  }
}
