@import 'src/styles';

:host {
  display: block;
  padding: 8rem 0;
  background: #000;

  * {
    color: #fff;
  }
}

.next {
  margin-left: 2rem;
}

.awards {
  flex: 2 !important;
  border-spacing: 0;
  text-align: left;

  th {
    @extend .text24;
    padding: 1.5rem 0;
    border-bottom: 2px solid #fff;
  }

  td {
    @extend .text32;
    padding: 2rem 0;
    border-bottom: 2px solid #fff;
    width: 20%;
  }
}

.arrows {
  margin: 3rem 0;
}