<r-padding
  *ngIf="awards$ | async as awards"
  [horizontal]="false"
  class="pv-128"
>
  <div [class.row-column]="!embed">
    <div class="header">
      <r-md
        [editor]="editor"
        [props]="props"
        prop="title"
        className="h2"
      ></r-md>
      <div
        *ngIf="last > 0"
        class="arrows"
      >
        <r-arrow
          (click)="$prev()"
          [color]="currentIndex == 0 ? '#86827F': '#fff'"
          type="prev"
        ></r-arrow>
        <r-arrow
          (click)="$next()"
          [color]="currentIndex == last ? '#86827F': '#fff'"
          type="next"
          class="ml-2"
        ></r-arrow>
      </div>
    </div>
    <table
      [@slider]="currentIndex"
      class="awards big"
    >
      <thead>
      <th class="year text16">Год</th>
      <th class="title text16">Награда</th>
      <th class="text16">Место</th>
      <th class="text16">Номинация</th>
      </thead>
      <tbody>
      <tr
        *ngFor="let award of $page(awards)"
      >
        <td class="text32 year">{{award.props.year}}</td>
        <td class="text32 bolder title">{{award.props.title}}</td>
        <td class="text32">{{award.props.position}}</td>
        <td class="text32">{{award.props.type}}</td>
      </tr>
      </tbody>
    </table>

    <table
      [@slider]="currentIndex"
      class="awards small"
    >
      <tbody>
      <tr
        *ngFor="let award of $page(awards)"
      >
        <td class="text32">
          <div>{{award.props.year}}</div>
          <div class="bolder mt-1">{{award.props.title}}</div>
        </td>
        <td class="text32">
          <div>{{award.props.position}}</div>
          <div class="mt-1">{{award.props.type}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</r-padding>
