@import 'src/theme';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.invalid .input {
    color: $color-red;
    border-color: $color-red;
  }
}

.container {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  padding: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  font-family: inherit;
}

.required {
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: 1rem;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyOCAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik05LjA4IDI1LjM2TDEzLjkwNCAxNy4xNTJMMTguOCAyNS4zNkwyMy45ODQgMjEuNTQ0TDE3LjY0OCAxNC40MTZMMjcuMDA4IDEyLjMyOEwyNC45OTIgNi4yMDhMMTYuMjggMTAuMDI0TDE3LjE0NCAwLjUxOTk5OEgxMC42NjRMMTEuNiAxMC4wMjRMMi44ODggNi4yMDhMMC44NzIgMTIuMzI4TDEwLjE2IDE0LjQxNkwzLjgyNCAyMS41NDRMOS4wOCAyNS4zNloiIGZpbGw9IiNFNDJBNDUiLz4NCjwvc3ZnPg0K') no-repeat;
}

r-input-error {
  margin-top: 8px;
}

.w1366, .w1024, .w768, .w320 {
  :host .required {
    transform: scale(.8);
  }
}
