<div (click)="$any(input.firstElementChild).focus()">
  <ng-content select="s-input-label"></ng-content>
</div>
<div #input class="container">
  <input
      *ngIf="!textarea"
      (input)="writeValue($any($event.target).value)"
      [value]="value"
      [placeholder]="placeholder"
      [disabled]="disabled"
      type="text"
      class="text16 input"
  />
  <textarea
    *ngIf="textarea"
    (input)="writeValue($any($event.target).value)"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    type="text"
    class="text16 input"
  ></textarea>
  <div
    *ngIf="required"
    class="required"
  ></div>
</div>

<r-input-error
  *ngIf="error"
  @errorAnimation
></r-input-error>
<ng-content></ng-content>
