:host {
  display: inline-block;
  width: 38px;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background: #000;

  &:first-of-type {
    margin-bottom: 10px;
  }
}

:host[color=black] {
  .line {
    background: #fff;
  }
}