@import 'src/styles';

:host {
  display: block;
  position: relative;
  height: 100%;

  r-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
    justify-content: space-between;
  }
}

.primary {
  @extend .row;

  r-input:not(:first-of-type) {
    margin-left: 2rem;
  }
}

.description {
  opacity: .5;

  a {
    text-decoration: underline;
  }
}

.close {
  position: fixed;
  top: 32px;
  right: 22px;
}

.feedback {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.fixed {
    position: fixed;
  }
}

.w2048 :host, .w1920 :host {
  .h2 {
    margin-right: 40%;
    margin-bottom: 40px;
  }
}

.w1366 :host {
  .h2 {
    margin-right: 40%;
    margin-bottom: 36px;
  }
}

.w1024 :host {
  .h2 {
    margin-right: 25%;
    margin-bottom: 36px;
  }
}

.w768 :host {
  r-padding {
    flex-direction: column;
  }

  .h2 {
    margin-right: 0;
    margin-bottom: 36px;
  }
}

.w320 :host {
  .primary {
    @extend .column;

    r-input {
      margin-left: 0;
      &:not(:first-of-type) {
        margin-top: 4rem;
      }
    }
  }

  .h2 {
    margin-bottom: 28px;
  }
}
