@import 'src/styles';

:host {
  display: block;
  padding: 8rem 0;

  r-padding {
    justify-content: space-between;
  }
}

.primary {
  @extend .row;

  r-input:not(:first-of-type) {
    margin-left: 2rem;
  }
}

.h3 {
  margin-right: 50%;
  margin-bottom: 40px;
}

.description {
  opacity: .5;

  a {
    text-decoration: underline;
  }
}

.w1366 :host {
  .h3 {
    margin-right: 50%;
    margin-bottom: 36px;
  }
}

.w1024 :host {
  .h3 {
    margin-right: 30%;
    margin-bottom: 36px;
  }
}

.w768 :host {
  r-padding {
    flex-direction: column;
  }

  .h3 {
    margin-right: 0;
    margin-bottom: 36px;
  }
}

.w320 :host {
  .primary {
    @extend .column;

    r-input {
      margin-left: 0;
      &:not(:first-of-type) {
        margin-top: 4rem;
      }
    }
  }

  .h3 {
    margin-bottom: 28px;
  }
}
