<r-padding
  [horizontal]="true"
  [disabled]="disablePadding"
  class="row-column"
>
  <div *ngIf="title">
    <div class="h3">
      {{title}}
    </div>
  </div>
  <div class="column">
    <div class="h3">Брендинг для</div>

    <r-badge-list
      [badges]="services"
    ></r-badge-list>

    <form class="mt-5">
      <div class="h3">
        Ваши контакты
      </div>

      <div class="primary">
        <r-input
          [required]="true"
          placeholder="Имя"
        ></r-input>
        <r-input
          [required]="true"
          placeholder="Телефон"
        ></r-input>
      </div>
      <r-input
        [required]="true"
        placeholder="Почта"
        class="mt-4"
      ></r-input>
      <r-input
        placeholder="Комментарий"
        class="mt-4"
      ></r-input>

      <r-button
        class="mt-4"
      >
        Получить предложение
      </r-button>

      <div class="mt-4 text24">
        При заполнении формы, вы получите предложение в течение 30 минут. Запрос по другим каналам связи обрабатывается до 2-х рабочих дней.
      </div>

      <r-checkbox
        class="mt-1_5"
      >
        Я согласен получать рассылку новостей агентства
      </r-checkbox>

      <div class="description text16 mt-1_5">
        Нажимая на кнопку «Получить предложение» Вы подтверждаете, что Вы ознакомились полностью с актуальной
        <a href="/">Информационной политикой</a> на настоящем сайте, полностью согласны с ее положениями и выдали ООО «Репина брендинг» все согласия, указанные в вышеупомянутой Информационной политике
      </div>
    </form>
  </div>
</r-padding>
