:host {
  display: block;

  &:not(.inline) .grid {
    margin-top: 30px;
    margin-bottom: 8rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.w768 :host {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.w320 :host {
  .grid {
    grid-template-columns: 1fr;
  }
}

.snippet {
  overflow: hidden;
}
