<a
  *ngIf="project.slug"
  [routerLink]="[$link()]"
  class="project"
  style="overflow: hidden"
>
  <r-image
    [src]="project.preview_file || '/assets/icons/project/placeholder.svg'"
    class="image"
  ></r-image>

  <div *ngIf="!project.slug"></div>

  <r-project-snippet-overlay
    class="overlay"
  >
    <div
      snippet-title
      [class.h1]="static"
      [class.h3]="!static"
      class="text-white"
    >
      {{project.title}}
    </div>
    <div
      class="text-32 text-white"
      snippet-description
    >
      {{project.description}}
    </div>
  </r-project-snippet-overlay>
</a>
