<form
  (submit)="$submit($event)"
  [formGroup]="formGroup"
  class="mt-5"
>
  <h2>
    Вход
  </h2>

  <r-input
    [required]="true"
    [error]="$getError('phone')"
    formControlName="phone"
    placeholder="Телефон"
    class="mt-4"
  ></r-input>

  <ng-container *ngIf="sms$ | async">
    <r-input
      [required]="true"
      formControlName="token"
      placeholder="Код из sms"
      class="mt-4"
    ></r-input>
    <r-input
      [required]="true"
      formControlName="new_password1"
      placeholder="Новый пароль"
      class="mt-4"
    ></r-input>
    <r-input
      [required]="true"
      formControlName="new_password2"
      placeholder="Повторите пароль"
      class="mt-4"
    ></r-input>
  </ng-container>

  <r-button
    (click)="$submit($event)"
    [disabled]="formGroup.invalid || (submitted$ | async)"
    [fullwidth]="true"
    type="submit"
    class="mt-4"
  >
    Восстановить
  </r-button>

  <div class="row mt-2_5 space-between">
    <a
      [routerLink]="['..']"
      class="underline text24 bolder"
    >Вход</a>
    <a
      [routerLink]="['signup']"
      class="underline text24 bolder text-right"
    >Регистрация</a>
  </div>

  <input type="submit" style="display: none"/>
</form>
