<r-padding
  *ngIf="media$ | async as media"
  [horizontal]="false"
  class="pv-128"
>
  <r-md
    [editor]="editor"
    [props]="props"
    prop="title"
    className="h2"
  ></r-md>

  <div class="grid">
    <div
      *ngFor="let article of $page(media)"
      @errorAnimation
      class="article-snippet"
    >
      <a
        [attr.href]="article.props.href || '#'"
        target="_blank"
        class="h2"
      >{{article.props.source}}</a>
      <div class="h4 mt-1">{{$date(article.props.date)}}</div>
      <div class="text32 mt-1">{{article.props.text}}</div>
    </div>
  </div>

  <r-button
    *ngIf="limit < media.length"
    (click)="$more()"
    class="mt-4"
  >Больше публикаций</r-button>
</r-padding>
