:host {
  display: block;
  padding: 8rem 0;
  background: #000;

  * {
    color: #fff;
  }
}

.article-snippet {
  display: inline-block;
  width: calc(25% - 3rem);
  margin: 4rem 3rem 4rem 0;
  vertical-align: top;
}

.w1024 :host {
  .article-snippet {
    width: 30%;
  }
}

.w768 :host {
  .article-snippet {
    width: 45%;
  }
}

.w320 :host {
  .article-snippet {
    width: 100%
  }
}
