:host {
  display: block;
  padding: 8rem 0;
  background: #000;

  * {
    color: #fff;
  }
}

.article-snippet {
  float: left;
  width: 22%;
  margin: 4rem 2rem 4rem 0;
}

.w1024 :host {
  .article-snippet {
    width: 30%;
  }
}

.w768 :host {
  .article-snippet {
    width: 45%;
  }
}

.w320 :host {
  .article-snippet {
    width: 100%
  }
}

.clear {
  clear: both;
}