:host {
  display: inline-block;
  width: 100%;
  padding: 6rem 0;
  box-sizing: border-box;
}

:host:not([editor=true]) {
  background: #000;
  * {
    color: #fff;
  }
}

.role {
  float: left;
  margin: 2rem 4rem 2rem 0;
  width: calc(30% - 4rem);

  &:not(:last-of-type) {

  }
}
