:host {
  display: block;
  padding: 4rem 75px 0 225px;
}

::ng-deep [rel="element_type_1"] {
  padding-left: 180px;
}

.title {
  padding: 4rem 0 0;
}

.content {
  position: relative;

  .row-column {
    align-items: center;
  }
}

.date {
  position: absolute;
  top: -4rem;
  left: -185px;
  transform: rotate(270deg);
}

.w1024 :host {

}

.w768 :host {
  .row-column {
    flex-direction: column-reverse !important;
  }

  .date {
    left: auto;
    right: -65px;
    top: 6rem;
  }

  ::ng-deep .title, .subtitle {
    display: none;
  }
}
