@import 'src/theme';

:host {
  display: block;
}

.title {
  padding: 4rem 0 0;
}

.title, .subtitle {
  width: 50%;
}

.inner {
  position: relative;
}

.content {
  margin-left: 102px;

  .row-column {
    align-items: center;
  }
}

.date {
  position: absolute;
  top: 260px;
  display: inline-block;
  transform: rotate(270deg);
  transform-origin: left top;
}

.index {
  position: absolute;
  margin-top: 64px;
}

.add-element {
  display: block;
  margin: 4rem auto;
}

.w1920 :host {
  ::ng-deep [rel="element_type_1"] {
    padding-left: 180px;
  }
}

.w1366 :host {
  .content {
    margin-left: 75px;
  }

  ::ng-deep [rel="element_type_1"] {
    padding-left: 136px;
  }
}

.w1024 :host {
  .content {
    margin-left: 50px;
  }

  ::ng-deep [rel="element_type_1"] {
    padding-left: 112px;
  }
}

.w768 :host {
  ::ng-deep [rel="element_type_1"] {
    margin-bottom: 4rem;
  }

  .row-column {
    flex-direction: column-reverse !important;
    align-items: flex-start;
  }

  .date {
    left: auto;
    right: -65px;
    top: 6rem;
  }

  ::ng-deep .title, .subtitle {
    display: none;
  }
}
