<div
  [r-block]="editor"
  (contentChanged)="$contentChanged($event, 'title')"
  class="title h3"
>
  {{$getValue('title')}}
</div>

<div
  [r-block]="editor"
  (contentChanged)="$contentChanged($event, 'subtitle')"
  [class.mt-1_5]="$getValue('subtitle')"
  class="subtitle h4"
>
  {{$getValue('subtitle')}}
</div>

<div class="content">
  <div
    [r-block]="editor"
    (contentChanged)="$contentChanged($event, 'date')"
    *ngIf="$getValue('title')"
    class="date text32"
  >
    {{$getValue('date')}}
  </div>

  <r-blocks-render
    [blocks]="elements"
    typeKey="element_type"
    class="row-column"
  ></r-blocks-render>
</div>

<r-button
  *ngIf="editor && elements.length < 2"
  (click)="$addElement()">
  + Новый элемент
</r-button>
