:host {
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /*padding-top: 2rem;
  padding-bottom: 2rem;*/
}


.inner {
  overflow-wrap: break-word;
  display: block;
  padding: 3rem 6rem;
  background: #F8F8F8;
  max-width: 100%;

  &.small {
    background: transparent;
    padding: 1rem;
  }
}

.avatar {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  min-width: 120px;
  min-height: 120px;
}

.author {
  display: flex;
  flex-direction: row;
}
