<r-page
  *ngIf="project$ | async as project"
  [backgroundImage]="mobile ? null : $background(project)"
  [fullscreenBackgroundImage]="!mobile"
  [menuColor]="$menuColor(project)"
>
  <r-project-image
    *ngIf="mobile"
    [contentFile]="$background(project)"
    [rAspectRatio]="1"
    class="d-block mt-16"
  ></r-project-image>

  <r-blocks-render
    [render]="render"
    [blocks]="$content(project.content_blocks)"
    [data]="{project: project}"
  ></r-blocks-render>

  <r-project-next
    [project]="project"
  ></r-project-next>

  <r-fabs *rWithSession>
    <button
      [routerLink]="['/projects', project.slug, 'edit']"
      mat-fab
      color="primary"
    >
      <r-icon name="components/edit-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
