<div *ngIf="block?.content_elements[0]?.props as data">
  <div>Контакты</div>
  <div class="bolder">
    <a
      [attr.href]="'tel:' + data.phone"
      class="mgo-number-12938"
    >{{data.phone}}</a>
    <meta
      [attr.content]="data.phone"
      itemprop="telephone"
    />
    <br>
    <a [attr.href]="'mailto:' + data.email_address + '@' + data.email_domain">
      <span>{{data.email_address}}@{{data.email_domain}}</span>
    </a>
  </div>
  <div class="mt-5">Адрес</div>
  <div class="bolder">
    <span>{{data.address}}</span>
    <meta
      [attr.content]="data.address"
      itemprop="address"
    />
  </div>
</div>
