:host {
  display: block;
  margin-top: 30px;

  ::ng-deep [rel=element_type_0] {
    flex: initial;
    width: 40%;
    max-width: none;
    padding-right: 30px;
  }

  ::ng-deep r-project-text {
    background: var(--background, transparent);
  }

  /*&.full-width {
    ::ng-deep [rel=element_type_0] {
      width: 100%;
      margin: 0 !important;
      padding: 0;
    }
    ::ng-deep [rel=element_type_1] {
      display: none;
    }
  }

  &.first-media ::ng-deep [rel=element_type_0] {
    margin-left: -75px;
    margin-right: 0;
  }

  &.last-media ::ng-deep [rel=element_type_1] {
    margin-right: -75px;
    margin-left: 0;
  }*/

  &.white ::ng-deep * {
    color: #fff;
  }

  /*&:not(.has-media) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }*/
}
/*
.w1366 :host.first-media ::ng-deep [rel=element_type_0] {
  margin-left: -64px;
  margin-right: 64px;
}

.w1024 :host.first-media ::ng-deep [rel=element_type_0] {
  margin-left: -35px;
  margin-right: 35px;
}

.w768 :host.first-media ::ng-deep [rel=element_type_0] {
  margin-left: -30px;
  margin-right: 30px;
}

.w320 :host.first-media ::ng-deep [rel=element_type_0] {
  margin-left: -12px;
  margin-right: 12px;
}*/
