:host {
  display: block;
  margin-top: 30px;

  &[editor="true"] {
    padding-bottom: 90px;
  }

  ::ng-deep [rel=element_type_0] {
    flex: initial;
    min-width: 45%;
    width: 45%;
    max-width: none;
    box-sizing: border-box;
    margin-right: 30px;
  }

  ::ng-deep [rel=element_type_1] {
    r-project-text, r-project-quote {
      padding-left: calc(10% - 15px);
    }
  }

  ::ng-deep r-project-text, ::ng-deep r-project-quote {
    background: var(--background, transparent);
  }

  &.full-width {
    ::ng-deep [rel=element_type_0] {
      width: 100%;
      margin: 0 !important;
      padding: 0;
    }
    ::ng-deep [rel=element_type_1] {
      display: none;
    }
  }

  &.white ::ng-deep * {
    color: #fff;
  }
}

.w2048, .w1920, .w1366, .w1024 {
  :host ::ng-deep r-project-quote {
    padding-left: calc(10% - 15px + 2rem) !important;
  }
}

.w768 :host, .w320 :host {
  ::ng-deep [rel=element_type_0] {
    min-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  ::ng-deep [rel=element_type_1] {
    r-project-text {
      padding: var(--padding-vertical) var(--padding-horizontal);
      box-sizing: border-box;
    }
  }
}
