:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #000;
  padding: 4rem 10rem 4rem 4rem;
  box-sizing: border-box;

  * {
    color: #fff;
  }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item {
  outline: none;
  padding: 12px 0;
  cursor: pointer;

  &:first-of-type {
    margin-top: 4rem;
  }

  &.active {
    text-decoration: underline;
  }
}

.spacer {
  height: 100%;
}

.burger {
  display: none;
}

:host.embed {
  .spacer {
    display: initial;
  }
}

.w768 :host, .w320 :host {
  padding: 0 4rem;

  .main {
    min-height: 120px;
  }

  &:not(.embed) {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;

    .spacer, .item {
      display: none;
    }

    .burger {
      display: initial;
    }
  }
}

.w1366 :host {
  r-logo {
    width: 280px !important;
    height: 84px !important;
  }
}

.w1024 :host, .w768 :host, .w320 :host {
  r-logo {
    width: 184px !important;
    height: 55px !important;
  }
}

.w768 :host {
  .text32 {
    font-size: 52px;
    line-height: 80px;
  }
}

.w320 :host {
  .text32 {
    font-size: 32px;
    line-height: 40px;
  }
}