<div>
  <div class="text32">
    &copy;
    <span
      (contentChanged)="$contentChanged($event, 'copyright')"
      [r-block]="editor"
      [innerHTML]="$getValue('copyright')"
      class="text32"
    ></span>
  </div>
  <div
    (contentChanged)="$contentChanged($event, 'description')"
    [r-block]="editor"
    [innerHTML]="$getValue('description')"
    class="text32"
  ></div>
  <a
    (contentChanged)="$contentChanged($event, 'politics')"
    [r-block]="editor"
    [innerHTML]="$getValue('politics')"
    href="/assets/policy.pdf"
    class="text32 underline"
    target="_blank"
  ></a>
</div>

<div class="association">
  <r-image-upload
    [editor]="editor"
    [id]="id"
    [contentFile]="contentFile"
    [props]="props"
    endpoint="menu_footer_elements"
  ></r-image-upload>

  <!--<div>
    <img src="/assets/icons/footer/association.svg"/>
  </div>-->

  <div
    (contentChanged)="$contentChanged($event, 'branding')"
    [r-block]="editor"
    [innerHTML]="$getValue('branding')"
    class="text32"
  >
  </div>
</div>
