:host {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .association {
  display: flex;
  align-items: center;
  margin-top: 5rem;

  .text32 {
    opacity: .3;
    margin-left: 30px;
  }

  r-image-upload {
    width: auto;
    height: auto;
    min-height: auto;
  }

  r-image img {
    width: 104px;
  }
}

.w768 :host {
  flex-direction: row;

  ::ng-deep .association {
    margin-top: 0;
    margin-left: 4rem;
  }
}

.w320 :host {
  ::ng-deep .association {
    r-image img {
      width: 74px;
      height: 74px;
    }
  }
}
