<h2>Партнерская программа</h2>
<div class="text32 mt-1_5">
  Рекомендуйте нас, верьте в нас, зарабатывайте вместе с нами.
</div>

<r-ref-block class="mt-5">
  <div index>01</div>

  <div class="h3">Repina Branding</div>
  <div>
    Ведущее брендинговое агентство России. Вы можете рекомендовать нас для разработки бренда, ребрендинга, создания
    нейминга, фирменного стиля и упаковки.
  </div>

  <!--<r-agency-gallery></r-agency-gallery>-->
</r-ref-block>

<r-ref-block class="mt-5">
  <div index>02</div>

  <div class="h3">Ваша партнерская ссылка</div>
  <r-ref-quote class="mt-2_5">tet</r-ref-quote>
  <div class="mt-2_5">
    Клиент, которому вы нас рекомендуете, должен воспользоваться вашей партнерской ссылкой и заполнить заявку на сайте,
    чтобы мы могли отследить продажу.
  </div>

  <r-ref-quote class="mt-4">Ваш партнерский код: ******</r-ref-quote>
  <div class="mt-2_5">
    Для других способов связи клиент должен воспользоваться партнерским кодом, указав его в письме или сообщить по
    телефону.
  </div>
</r-ref-block>

<r-ref-block class="mt-5">
  <div
    index
    style="margin-top: 40px;"
  >03
  </div>

  <r-ref-quote>
    <div class="h3">Вознаграждение</div>
    <div class="h1">30 000 ₽</div>

    <ul>
      <li>за привлеченного клиента</li>
      <li>скидка привлеченному клиенту</li>
    </ul>
  </r-ref-quote>
  <div class="mt-2_5">
    Партнерская программа Repina network двухуровневая. Это значит, что вы можете приглашать других партнеров в
    программу
  </div>

  <r-ref-quote class="mt-4">
    <div class="h3">Вознаграждение</div>
    <div class="h1">1 000 ₽</div>

    <ul>
      <li>от каждой продажи привлеченного вами реферала в партнерскую программу</li>
      <li>бонус на счет привлеченному вами рефералу, который он сможет вывести при первой продаже</li>
    </ul>
  </r-ref-quote>
</r-ref-block>

<r-ref-block class="mt-5">
  <div index>04</div>

  <div class="h3">Как вы можете нас рекомендовать</div>
  <ul class="mt-2_5">
    <li>Посоветовать другу или коллеге, который ищет агентство</li>
    <li>Презентовать нас руководителю или отделу маркетинга вашей компании</li>
    <li>Включить в тендер на общих условиях</li>
    <li>Разместить наш кейс с ссылкой в статье</li>
    <li>Разместить пост в соцсетях</li>
    <li>Разместить в телеграмм канале</li>
    <li>Включить в вашу базу рассылки</li>
    <li>Любые другие механики</li>
  </ul>

  <div class="h3 mt-4">
    Что нельзя делать с партнерской ссылкой или кодом
  </div>
  <ul class="mt-2_5">
    <li>Размещать на ресурсах с сомнительной репутацией</li>
    <li>Навязывать наши услуги, когда они неуместны</li>
    <li>Любые другие виды спама</li>
  </ul>
</r-ref-block>

<r-ref-block class="mt-5">
  <div index>05</div>

  <div class="h3">FAQ</div>
</r-ref-block>