<r-project-image
  *ngIf="editor && elements.length"
  [id]="elements[0].id"
  [contentFile]="elements[0].content_file"
  [editor]="editor"
  class="image"
></r-project-image>

<r-padding [horizontal]="false">
  <div class="nav row-column">
    <div class="links column">
      <a class="text32 bolder">Бренд-платформа</a>
      <a class="text32 bolder mt-1_5">Нейминг</a>
      <a class="text32 bolder mt-1_5">Фирменный стиль</a>
      <a class="text32 bolder mt-1_5">Упаковка</a>
    </div>
    <div>
      <r-project-text
        [props]="props"
        [editor]="editor"
        [padding]="false"
        [index]="1"
      ></r-project-text>
    </div>
  </div>
</r-padding>
