:host  {
  .links {
    padding-top: 8rem;
    padding-bottom: 8rem;

    a {
      text-decoration: underline;
    }
  }

  .image {
    width: 40%;
    margin-left: 10%;
  }

  .text {
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-left: 15px;

    ::ng-deep r-md:first-of-type {
      margin-bottom: 16px;
    }
  }

  ::ng-deep h1 {
    font: inherit;
    margin: 0;
  }
}

.w768 :host, .w320 :host {
  .text {
    margin-left: 0;
    padding: var(--padding-vertical) var(--padding-horizontal);
  }

  .links:empty {
    display: none;
  }
}

.w320 :host {
  .nav {
    flex-direction: column-reverse !important;
    margin-top: 8rem;
  }

  ::ng-deep .h2 {
    margin-bottom: 6rem;
  }

  .text {
    padding-top: 0;
    padding-bottom: 0;
  }
}
