:host  {
  r-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .links {
    a {
      text-decoration: underline;
    }
  }
}

.w320 :host {
  .nav {
    flex-direction: column-reverse;
  }

  .links {
    margin-top: 8rem;
  }

  .h3 {
    margin-bottom: 6rem;
  }
}