:host  {
  r-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .links {
    flex: initial;
    width: 45%;

    a {
      text-decoration: underline;
    }
  }

  .image {
    width: 30%;
    margin: 0 auto;
  }

  .text {
    margin-left: calc(5% + 15px);
  }
}

.w320 :host {
  .nav {
    flex-direction: column-reverse;
  }

  .links {
    margin-top: 8rem;
  }

  .h3 {
    margin-bottom: 6rem;
  }
}
