<div
  *ngIf="editor && elements.length"
  class="row"
>
  <r-project-image
    [id]="elements[0].id"
    [contentFile]="elements[0].content_file"
    [editor]="editor"
    class="image"
  ></r-project-image>

  <r-project-media
    *ngIf="elements.length > 1"
    (upload)="$upload($event)"
    [id]="elements[1].id"
    [contentFile]="elements[1].content_file"
    [editor]="editor"
    class="image"
  ></r-project-media>
</div>

<div class="nav row-column">
  <div class="links p-l">
    <ng-container
      *ngIf="!editor"
    >
      <div
        class="column"
      >
        <a
          *ngFor="let service of $parseServices(props.services); let first = first"
          [routerLink]="['/services', service.value]"
          [class.mt-1_5]="!first"
          class="text32 bolder"
        >
          {{service.label}}
        </a>
      </div>
    </ng-container>

    <r-list-content
      *ngIf="editor"
      (valueChanges)="$servicesChanged($event)"
      [options$]="services$"
      [selected]="$parseServices(props.services)"
      placeholder="Оказанные услуги"
    ></r-list-content>
  </div>

  <r-project-text
    [props]="props"
    [editor]="editor"
    [padding]="false"
    [index]="1"
    class="text"
  ></r-project-text>
</div>
