:host {
  position: relative;
}

.file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.upload {
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -28px;
}
