:host {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.pv-8 {
  padding-top: 8rem;
  padding-bottom: calc(8rem - 64px);
}

.left {
  flex: initial;
  width: 40%;
  margin-right: 30px;
}

.right {
  padding-right: 8rem;
  padding-left: 8rem;
}

.item:not(:first-of-type) {
  margin-top: 64px;
}
