:host {
  position: fixed;
  bottom: 10px;
  right: 50px;
  z-index: 9999;
}

alert {
  position: absolute;
  min-width: 300px;
  max-width: 450px;
  opacity: 0;
  bottom: -150px;
  right: 0;
  transition: .3s;

  &.visible {
    opacity: 1;
    bottom: 10px;
  }
}
