<r-page>
  <r-padding
    [horizontal]="true"
    class="promo"
  >
    <r-card
      subtitle="Колонка Валерии Репиной"
      description="Основатель и креативный директор агентства Repina branding Валерия Репина рассказывает журналу АРХИДОМ о том, как агентству удалось интегрировать фирменный стиль в интерьер с целью создания целостного образа бренда"
    >
      <div
        title
        class="h2"
      >
        Как внедрить фирменный стиль в интерьер?
      </div>
      <r-image [src]="'/assets/pictures/journal/article_header.png'"></r-image>
    </r-card>
  </r-padding>

  <div>
    <r-article-part
      title="Особенное место"
      subtitle="Задача"
      date="19 — 09 / 2019"
    >
      <div class="text32 mt-1">
        К нам обратилась сеть свадебных салонов «Дом Весты». Клиент хотел полностью обновить образ бренда и одновременно
        поддержать историю компании, сохранив название Дома.<br><br>Свадебный салон на некоторое время становится для девушки
        особенным местом, точкой отсчета ее новой жизни. Поэтому мы начали работу с исследования и глубинных интервью с
        незамужними девушками и невестами
      </div>
      <div>
        <div class="mh-4">
          <img
            src="/assets/pictures/journal/avatar.png"
            class="avatar"
          />
          <div class="h4">
            Валерия Репина
          </div>
          <div class="text32">
            Автор
          </div>
        </div>
      </div>
    </r-article-part>
    <r-article-part
      subtitle="Процесс"
      date="19 — 09 / 2019"
    >
      <div>
        <div class="text32 mt-1">
          К нам обратилась сеть свадебных салонов «Дом Весты». Клиент хотел полностью обновить образ бренда и одновременно
          поддержать историю компании, сохранив название Дома.<br><br>Свадебный салон на некоторое время становится для девушки
          особенным местом, точкой отсчета ее новой жизни. Поэтому мы начали работу с исследования и глубинных интервью с
          незамужними девушками и невестами
        </div>
        <div
          class="mt-4 row-column"
        >
          <r-image
            rel="1"
            src="/assets/pictures/journal/article_image.png"
          ></r-image>
          <div
            rel="2"
            class="mh-4 text32"
          >
            Фирменный стиль построен на изображении разных типов корсетной шнуровки и образе лент, логотип выполнен в
            виде ленточной антиквы и дополнен знаком-монограммой ДВ.
          </div>
        </div>
      </div>
      <div></div>
    </r-article-part>
  </div>
</r-page>
