@import 'src/theme';

r-page ::ng-deep r-header, .promo {
  background: $color-gray;
}

.promo {
  padding-bottom: 6rem !important;
}

.avatar-block {
  align-self: flex-start;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.quote-block {
  padding: 3rem;
  background: #F8F8F8;
}

.w1366 :host {
  .avatar {
    width: 80px;
    height: 80px;
  }
}

.w768 :host {
  .mh-4 {
    margin: 4rem 0;
  }
}
