<r-page *ngIf="article$ | async as article">
  <time
    itemprop="datePublished"
    [attr.datetime]="article.created_at"
    style="display: none"
  >
    {{article.created_at}}
  </time>

  <article itemprop="articleBody">
    <r-blocks-render
      [render]="render"
      [blocks]="article.content_blocks"
    ></r-blocks-render>
  </article>


  <r-article-next
    *ngIf="article.blog_tag"
    [tag]="article.blog_tag"
    class="mt-8"
  ></r-article-next>

  <r-fabs *rWithSession>
    <button
      [routerLink]="['/blog', article.slug, 'edit']"
      mat-fab
      color="primary"
    >
      <r-icon name="components/edit-white"></r-icon>
    </button>
  </r-fabs>
</r-page>
