@import 'src/theme';

:host {
  ::ng-deep r-header, ::ng-deep r-article-header {
    background: $color-gray;
  }

  .avatar-block {
    align-self: flex-start;
  }

  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  ::ng-deep [rel="block_type_1"] {
    padding-top: 128px;
  }
}

.w1366 :host {
  .avatar {
    width: 80px;
    height: 80px;
  }
}

.w768 :host {
  .mh-4 {
    margin: 4rem 0;
  }
}
