<r-page>
  <r-blocks-render
    [blocks]="article.content_blocks"
  ></r-blocks-render>

  <r-padding
    *rWithSession
    [horizontal]="false"
  >
    <r-icon-button
      icon="edit"
      [routerLink]="['/blog', article.slug, 'edit']"
      style="float: right"
    >
      Редактировать статью
    </r-icon-button>
  </r-padding>

  <!--<div>
    <r-article-part
      title="Особенное место"
      subtitle="Задача"
      date="19 — 09 / 2019"
    >
      <div class="text32 mt-1">
        К нам обратилась сеть свадебных салонов «Дом Весты». Клиент хотел полностью обновить образ бренда и одновременно
        поддержать историю компании, сохранив название Дома.<br><br>Свадебный салон на некоторое время становится для девушки
        особенным местом, точкой отсчета ее новой жизни. Поэтому мы начали работу с исследования и глубинных интервью с
        незамужними девушками и невестами
      </div>
      <div class="avatar-block mh-4">
        <img
          src="/assets/pictures/journal/avatar.png"
          class="avatar"
        />
        <div class="h4">
          {{article.author_name}}
        </div>
        <div class="text32">
          Автор
        </div>
      </div>
    </r-article-part>
    <r-article-part
      subtitle="Процесс"
      date="19 — 09 / 2019"
    >
      <div>
        <div class="text32 mt-1">
          К нам обратилась сеть свадебных салонов «Дом Весты». Клиент хотел полностью обновить образ бренда и одновременно
          поддержать историю компании, сохранив название Дома.<br><br>Свадебный салон на некоторое время становится для девушки
          особенным местом, точкой отсчета ее новой жизни. Поэтому мы начали работу с исследования и глубинных интервью с
          незамужними девушками и невестами
        </div>
      </div>
      <div></div>
    </r-article-part>

    <r-article-part class="row-column mt-4">
      <r-image
        rel="1"
        src="/assets/pictures/journal/article_image.png"
      ></r-image>
      <div
        rel="2"
        class="mh-4 text32"
      >
        Фирменный стиль построен на изображении разных типов корсетной шнуровки и образе лент, логотип выполнен в
        виде ленточной антиквы и дополнен знаком-монограммой ДВ.
      </div>
    </r-article-part>

    <r-article-part
      subtitle="Позиционирование"
      date="19 — 09 / 2019"
    >
      <div>
        <div class="text32 mt-1">
          Предложенная нами формулировка позиционирования бренда впоследствии стала и слоганом компании. Она звучит следующим образом: «Представляю тебя…»
          <br><br>
          Это многогранная фраза может быть нагружена одновременно несколькими смыслами: я – твой представитель, я вижу тебя в будущем, я понимаю твои опасения и надежды, я предвижу, какой красивой и счастливой ты будешь выглядеть на празднике.
        </div>
      </div>
      <div></div>
    </r-article-part>

    <r-article-part class="row-column">
      <div class="column quote-block">
        <r-quote class="h3">
          Особая глубина и искренность в позиционировании, в тональности коммуникации и в айдентике бренда помогают создать ощущение доверия
        </r-quote>

        <div class="avatar-block">
          <div class="mh-2">
            <img
              src="/assets/pictures/journal/avatar.png"
              class="avatar"
            />
            <div class="h4">
              Валерия Репина
            </div>
            <div class="text32">
              Автор
            </div>
          </div>
        </div>
      </div>
      <div
        rel="2"
        class="text32"
      >
        <div class="mh-4">
          Фирменный стиль построен на изображении разных типов корсетной шнуровки и образе лент, логотип выполнен в
          виде ленточной антиквы и дополнен знаком-монограммой ДВ.
        </div>
      </div>
    </r-article-part>

    <r-article-part
      subtitle=""
      date=""
    >
      <div>
        <div class="text32 mt-1">
          Это персональное сообщение для потенциальных клиенток салона. Особая глубина и искренность в позиционировании, в тональности коммуникации и в айдентике бренда помогают создать ощущение доверия. Вся эта философия также легла в основу сервисного гайдлайна для продавцов, так как именно продавцы – одни из самых важных трансляторов позиционирования компании в точках продаж.
        </div>
      </div>
      <div></div>
    </r-article-part>
    </div>-->
</r-page>
