.social-item {
  display: inline-block;
  margin-bottom: 2rem;
}

.cdk-drag-preview {
  background: transparent;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
