<r-page>
  <r-blocks-render
    *ngIf="blocks$ | async as blocks"
    [render]="render"
    [blocks]="blocks"
  ></r-blocks-render>

  <r-fabs *rWithSession>
    <button
      [routerLink]="['/services', 'edit']"
      mat-fab
      color="primary"
    >
      <r-icon name="components/edit-white"></r-icon>
    </button>

    <button
      [routerLink]="['/services', 'new']"
      mat-fab
      color="primary"
      class="ml-2"
      style="margin-left: 16px"
    >
      <r-icon name="components/add-white"></r-icon>
    </button>
  </r-fabs>
</r-page>

