<r-page>
  <r-padding [horizontal]="true">
    <r-card
      subtitle="Услуги"
      title="Мы помогаем создавать аутентичные бренды, которые наполняют бизнес энергией для движения вперед"
      titleClass="h2"
      class="promo wide"
    >
    </r-card>
  </r-padding>

  <r-services-primary class="mt-8"></r-services-primary>

  <r-service-list></r-service-list>

  <r-services-tech></r-services-tech>

  <r-fabs *rWithSession>
    <button
      [routerLink]="['/services', 'new']"
      mat-fab
      color="primary"
    >
      <r-icon name="components/add-white"></r-icon>
    </button>
  </r-fabs>
</r-page>

