<div
  *ngIf="$getValue('i') && index == 0; else blankIndex"
  [r-block]="editor"
  [innerHTML]="$getValue('i')"
  (contentChanged)="$contentChanged($event, 'i')"
  class="index h4"
></div>

<div class="column">
  <div
    *ngIf="$getValue('subtitle')"
    [r-block]="editor"
    [innerHTML]="$getValue('subtitle')"
    (contentChanged)="$contentChanged($event, 'subtitle')"
    class="subtitle h4"
  ></div>

  <div
    *ngIf="editor"
    [r-block]="editor"
    [innerHTML]="$getValue('text')"
    (contentChanged)="$contentChanged($event, 'text')"
    [class.mt-1_5]="$getValue('text')"
    class="text32 mt-1"
  ></div>

  <markdown
    *ngIf="!editor"
    [data]="$normalizeSpaces(props.text)"
    class="text32 text32"
  ></markdown>
</div>

<ng-template #blankIndex>
  <div class="index"></div>
</ng-template>
