@import 'src/styles';

:host {
  @extend .text32;
  display: inline-block;
  padding: .5rem 2rem;
  border-radius: 44px;
  background: #EBEBEB;
  white-space: nowrap;
  box-sizing: border-box;
  border: 2px solid #EBEBEB;
  cursor: pointer;
  transition: 100ms;
  
  &.selected {
    background: #000;
    color: #fff;
  }

  &.disabled {
    border: 2px solid #EBEBEB;
    background: #fff;
  }

  &:not(.selected):hover {
    color: rgba(0, 0, 0, .5);
  }

  &.selected:hover {
    background: rgba(0, 0, 0, .5);
  }
}
