@import 'src/styles';

:host {
  @extend .text32;
  display: inline-block;
  padding: .5rem 2rem;
  border-radius: 44px;
  background: #EBEBEB;
  white-space: nowrap;
  box-sizing: border-box;
  border: 2px solid #EBEBEB;
  cursor: pointer;
  transition: 100ms;
  text-align: center;
  
  &.selected {
    background: #000;
    color: #fff;
  }

  &.disabled {
    border: 2px solid #EBEBEB;
    background: #fff;
    color: #000;
  }

  &:not(.selected):not(.disabled):hover {
    color: rgba(0, 0, 0, .5);
  }

  &.selected:not(.disabled):hover {
    background: rgba(0, 0, 0, .5);
  }

  &.round {
    padding: 0;
    width: 56px;
    height: 56px;
    line-height: 56px;
    box-sizing: border-box;

    &.selected {
      background: $color-red;
    }
  }
}
