@import 'src/styles';

:host {
  @extend .text32;
  display: inline-block;
  padding: .5rem 2rem;
  border-radius: 44px;
  background: #EBEBEB;
  white-space: nowrap;
  cursor: pointer;
  
  &.selected {
    background: #000;
    color: #fff;
  }
}
