<div
  *ngIf="related$ | async as related"
  class="row-column p-l p-r"
>
  <div>
    <div class="text">
      <div class="h3">Блог</div>
      <div
        [innerHTML]="$normalizeSpaces('Мы любим слушать и любим говорить. Читайте наш журнал о брендинге и дизайне')"
        class="text32 mt-1"
      ></div>
      <a [routerLink]="['/blog']">
        <r-button class="mt-2">
          Все статьи
        </r-button>
      </a>
    </div>
  </div>
  <div>
    <a
      *ngFor="let article of related; let first = first;"
      [routerLink]="['/blog', article.slug]"
    >
      <r-journal-snippet
        [tag]="$any(article).blog_tag?.title"
        [title]="article.title"
        [image]="article.preview_file"
        [class.mt-6]="!first"
        class="snippet"
      ></r-journal-snippet>
    </a>
  </div>
</div>
