:host {
  display: block;
  background: #F8F8F8;
  padding-top: 128px;
  padding-bottom: 128px;
}

.text {
  width: 60%;
}

.w320 :host, .w768 :host {
  .text {
    width: 100%;
  }

  .snippet {
    margin-top: 64px;
  }
}

a:hover {
  text-decoration: none;

  ::ng-deep .h3 {
    text-decoration: underline;
  }
}

.w320 :host {
  padding-top: 64px;
  padding-bottom: 64px;
}
