@import 'src/theme';

:host {
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

:host ::ng-deep .link {
  display: inline-block;
  width: 100%;
  transition: all 300ms;

  &:hover {
    opacity: 1;
  }
}

table {
  width: 100%;
}

td {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

th {
  padding-right: 4px !important;
}

:host ::ng-deep tbody tr {
  cursor: pointer;
  outline: none;

  &:hover {
    background: $color-gray;
    transition: background-color 600ms;

    .text16 {
      color: $color-blue;
    }

    .icon {
      display: none;
    }

    .icon-active {
      display: block;
    }

    .mat-column-controls > * {
      opacity: 1;
    }
  }

  &.active {
    @extend :hover;
    border-right: 3px solid $color-blue;
  }

  &:last-of-type td {
    border-bottom-width: 0;
  }
}

:host ::ng-deep .mat-column-controls {
  text-align: right;

  > * {
    opacity: 0;
    transition: 300ms;
  }
}

mat-progress-bar {
  height: 1px;
}

.spinner {
  transition: all 300ms;
  margin: 16px auto;

  &.hidden {
    margin-top: -48px;
    margin-bottom: 0;
    opacity: 0;
  }
}

:host[size="big"] {
  td {
    padding-top: 26px !important;
    padding-bottom: 26px !important;
  }
}
