.row-column {
  align-items: center;
}

.icon {
  max-width: 306px;
  max-height: 637px;
}

.w768 :host, .w320 :host {
  .row-column {
    align-items: flex-start;
  }

  .icon {
    max-width: 218px;
    max-height: 455px;
  }
}
