.row-column {
  align-items: center;
}

.icon {
  width: 660px;
  height: 660px;
}

.w1024 :host {
  .icon {
    width: 480px;
    height: 480px;
  }
}

.w768 :host {
  .row-column {
    align-items: flex-start;
  }

  .icon {
    width: 480px;
    height: 480px;
  }
}

.w320 :host {
  .row-column {
    align-items: flex-start;
  }

  .icon {
    display: none;
  }
}
