@import 'src/theme';

:host {
  display: block;

  ::ng-deep [rel="element_type_0"] {
    flex: 3;
  }

  ::ng-deep [rel="element_type_1"] {
    r-article-text, r-article-quote {
      display: flex;
    }
  }
}

.title, .subtitle {
  width: 50%;
  margin-bottom: 16px;
}

.inner {
  position: relative;
}

.content {
  margin-left: 102px;
}

.mb-30 {
  margin-bottom: 64px;
}

:host:not([editor]) {
  .row-column {
    align-items: center;
  }
}

.date {
  position: absolute;
  top: 260px;
  left: -16px;
  display: inline-block;
  transform: rotate(270deg);
  transform-origin: left top;
}

.index {
  position: absolute;
}

.add-element {
  display: block;
  margin: 4rem auto;
}

.w1920 :host {
  ::ng-deep [rel="element_type_1"] {
    padding-left: 180px;
  }
}

.w1366 :host {
  .content {
    margin-left: 75px;
  }

  ::ng-deep [rel="element_type_1"] {
    padding-left: 136px;
  }
}

.w1024 :host {
  .content {
    margin-left: 50px;
  }

  ::ng-deep [rel="element_type_1"] {
    padding-left: 112px;
  }
}

.w768 :host, .w320 :host {
  ::ng-deep [rel="element_type_1"] {
    margin-bottom: 4rem;
  }

  .row-column {
    flex-direction: column-reverse !important;
    align-items: flex-start;
  }

  ::ng-deep .title, .subtitle {
    display: none;
  }
}

.w320 :host {
  .date {
    left: auto;
    right: -65px;
  }

  .content {
    margin-left: 0;
  }
}

.element_type {
  align-items: center;
}
