:host {
  display: block;
  padding: 4rem 8% 0;
}

.title {
  padding: 4rem 0 0;
}

.content {
  position: relative;
}

.date {
  position: absolute;
  transform: rotate(270deg);
  left: -12%;
  top: 4rem;
}

.w1024 :host {
  .row-column {
    flex-direction: column-reverse;
  }
}

.w768 :host {
  .date {
    left: auto;
    right: -65px;
    top: 6rem;
  }

  .title, .subtitle {
    display: none;
  }
}
