<div class="text3">
  Почтовый адрес
</div>
<div class="h2">
  <span
    (contentChanged)="$contentChanged($event, 'email_address')"
    [innerHTML]="$getValue('email_address')"
    [r-block]="editor"
  ></span>
  <span class="space"></span>@<span
    (contentChanged)="$contentChanged($event, 'email_domain')"
    [innerHTML]="$getValue('email_domain')"
    [r-block]="editor"
  ></span>
</div>
<div class="text32 mt-4">
  Телефон
</div>
<div
  (contentChanged)="$contentChanged($event, 'phone')"
  [innerHTML]="$getValue('phone')"
  [r-block]="editor"
  class="h2"
></div>
<div class="text32 mt-4">
  Адрес
</div>
<div
  (contentChanged)="$contentChanged($event, 'address')"
  [innerHTML]="$getValue('address')"
  [r-block]="editor"
  class="h2"
></div>
