<div class="text32">
  Почтовый адрес
</div>
<div
  *ngIf="editor"
  class="h2"
>
  <span
    (contentChanged)="$contentChanged($event, 'email_address')"
    [innerHTML]="$getValue('email_address')"
    [r-block]="editor"
  ></span>
  <span class="space"></span>@<span
    (contentChanged)="$contentChanged($event, 'email_domain')"
    [innerHTML]="$getValue('email_domain')"
    [r-block]="editor"
  ></span>
</div>
<a
  *ngIf="!editor"
  [attr.href]="'mailto:' + props.email_address + '@' + props.email_domain"
  class="contact-data"
>
  {{props.email_address}}@{{props.email_domain}}
</a>

<div class="text32 mt-64">
  Телефон
</div>
<div
  *ngIf="editor"
  (contentChanged)="$contentChanged($event, 'phone')"
  [innerHTML]="$getValue('phone')"
  [r-block]="editor"
  class="h2"
></div>
<a
  *ngIf="!editor"
  [innerHTML]="$getValue('phone')"
  [attr.href]="'tel:' + props.phone"
  class="contact-data mgo-number-12938"
></a>

<div class="text32 mt-64">
  Адрес
</div>
<div
  (contentChanged)="$contentChanged($event, 'address')"
  [innerHTML]="$getValue('address')"
  [r-block]="editor"
  class="contact-data"
></div>
