<div
  *ngIf="services$ | async as services"
  class="row"
>
  <r-padding [horizontal]="false">
    <div
      *ngFor="let service of services; let index = index; let first = first;"
      (mouseenter)="$setAnimation(service.preview_file)"
      [class.mt-4]="!first"
      class="service"
    >
      <div class="h2 index">0{{index + 1}}</div>
      <a
        [routerLink]="['/services', service.slug]"
        [innerHTML]="$breakLine(service.title)"
        class="title h3 ml-6"
      ></a>
    </div>
  </r-padding>
  <div class="right">
    <r-service-animation
      *ngIf="animation$ | async as animation"
      [props]="{'animation': animation}"
      class="animation p-r"
      image
    ></r-service-animation>
  </div>
</div>
