@import 'src/theme';

:host {
  display: block;
  background: #000;
  //margin-top: 8rem;

  * {
    color: #fff;
  }

  r-padding {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.title {
  width: 60%;
}

.index {
  min-width: 56px;
  //margin-top: 1.5rem;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.right {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.animation {
  position: absolute;
  bottom: -15%;
}

.circle {
  width: 40%;
  height: 0;
  padding-bottom: 40%;
  border-radius: 50%;
  background: $color-red;
  animation: 1s linear 0s infinite pulse;
}

.w1024 :host {
  .circle {
    width: 60%;
    padding-bottom: 60%;
  }
}

.w768 :host {
  .right {
    display: none;
  }
}

.w320 :host {
  r-padding {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .index {
    margin-bottom: 8px;
  }

  .service {
    //flex-direction: column;
    //align-items: flex-start;
  }

  .ml-6 {
    margin-left: 0;
  }

  .right {
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.85);
  }

  100% {
    transform: scale(1);
  }
}
