@import 'src/theme';

:host {
  display: block;
  background: #000;
  margin-top: 8rem;

  * {
    color: #fff;
  }

  r-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.title {
  width: 60%;
}

.index {
  min-width: 56px;
  margin-top: .5rem;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.animation {
  position: absolute;
  bottom: -8px;
  height: auto;
}

.circle {
  width: 40%;
  height: 0;
  padding-bottom: 40%;
  border-radius: 50%;
  background: $color-red;
  animation: 1s linear 0s infinite pulse;
}

.w1024 :host {
  .circle {
    width: 60%;
    padding-bottom: 60%;
  }
}

.w320 :host {
  .service {
    flex-direction: column;
    align-items: flex-start;
  }

  .ml-6 {
    margin-left: 0;
  }

  .right {
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.85);
  }

  100% {
    transform: scale(1);
  }
}
