@import '~@angular/material/theming';
@include mat-core();

$repina-ui-primary: mat-palette($mat-red);
$repina-ui-accent: mat-palette($mat-pink, A200, A100, A400);

$repina-ui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$repina-ui-theme: mat-light-theme($repina-ui-primary, $repina-ui-accent, $repina-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat-select-theme($repina-ui-theme);
@include mat-tooltip-theme($repina-ui-theme);
@include mat-dialog-theme($repina-ui-theme);
@include mat-button-theme($repina-ui-theme);
@include mat-expansion-panel-theme($repina-ui-theme);
