@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import 'theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$repina-ui-primary: mat-palette($mat-red);
$repina-ui-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$repina-ui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$repina-ui-theme: mat-light-theme($repina-ui-primary, $repina-ui-accent, $repina-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($repina-ui-theme);


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: inherit;
}

h1, .h1 {
  font-family: GTEestiProTextMedium, sans-serif;
}

h2, h3, h4, .h, .h2, .h3, .h4, button {
  font-family: GTEestiProTextRegular, sans-serif;
  color: #000;
  margin: 0;

  * {
    font: inherit;
  }
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

[hidden] {
  display: none !important;
}

.text-white, .text-white * {
  color: white !important;
}

.bolder {
  @extend .h;
}

.w1920 {
  .h1, h1 {
    font-size: 112px;
    line-height: 124px;
  }

  .h2, h2 {
    font-size: 72px;
    line-height: 76px;
  }

  .h3, h3 {
    font-size: 48px;
    line-height: 56px;
  }

  .h4, h4 {
    font-size: 36px;
    line-height: 48px;
  }

  .text32 {
    font-size: 32px;
    line-height: 44px;
  }

  .text24 {
    font-size: 24px;
    line-height: 32px;
  }

  .text16 {
    font-size: 16px;
    line-height: 22px;
  }
}

.w1366, .w1024, .w768, .w320 {
  .h1, h1 {
    font-size: 78px;
    line-height: 86px;
  }

  .h2, h2 {
    font-size: 52px;
    line-height: 60px;
  }

  .h3, h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .h4, h4 {
    font-size: 24px;
    line-height: 32px;
  }

  .text32 {
    font-size: 20px;
    line-height: 28px;
  }

  .text24 {
    font-size: 16px;
    line-height: 22px;
  }

  .text16 {
    font-size: 16px;
    line-height: 24px;
  }
}

.w768 {
  font-size: 12px;
}

.w320 {
  font-size: 8px;

  .h1, h1 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .h2, h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .h3, .h4, h3, h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

.row {
  display: flex !important;
  flex-direction: row;
  flex: 1;

  > * {
    flex: 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row-column {
  @extend .row;
}

.w768, .w320 {
  .row-column {
    flex-direction: column !important;
  }
}

.mt-16 {
  margin-top: 16px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1_5 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3.375rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mh-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mh-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}


.ml-6 {
  margin-left: 6rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-30 {
  margin-left: 30px;
}

.mr-30-30 {
  margin-left: 30px;
}

.d-block {
  display: block;
}

.d-iblock {
  display: inline-block;
}

.editable {
  border-bottom: 1px dashed #CFD8DC;
  min-height: 32px;
  min-width: 32px;
  box-sizing: border-box;
}

span.editable, a.editable {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}

.h-underline:hover {
  text-decoration: underline;
}

ndc-dynamic {
  display: none;
}

ul, ol {
  padding: 0;
  margin: 0;
  padding-inline-start: 1em;

  li:not(:last-of-type) {
    margin-bottom: 1.25rem;
  }
}

markdown {
  p {
    white-space: pre-line;
  }

  h1, h2, h3, h4, h5 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: underline;
  }
}
