$color-blue: #0043EE;
$color-red: #E42A45;
$color-gray: #F8F8F8;
$color-brown: #86827F;

:root {
  --padding-horizontal: 75px;
  --padding-vertical: 128px;


  &.w1366 {
    --padding-horizontal: 64px;
    --padding-vertical: 48px;
  }

  &.w1024 {
    --padding-horizontal: 35px;
    --padding-vertical: 40px;
  }
  &.w768 {
    --padding-horizontal: 30px;
    --padding-vertical: 48px;
  }

  &.w320 {
    --padding-horizontal: 12px;
    --padding-vertical: 48px;
  }
}

.p-l {
  padding-left: var(--padding-horizontal, 0);
}
.p-r {
  padding-right: var(--padding-horizontal, 0);
}
.p-t {
  padding-top: var(--padding-vertical, 0);
}
.p-b {
  padding-bottom: var(--padding-vertical, 0);
}
