<r-padding>
  <r-card>
    <!--<div
      (contentChanged)="$contentChanged($event, 'title')"
      [r-block]="editor"
      [innerHTML]="$getValue('title')"
      title
      class="h2 mt-1"
    ></div>-->
    <r-md
      [props]="props"
      [editor]="editor"
      prop="title"
      className="h3"
      class="mt-1"
      title
    ></r-md>

    <r-md
      [props]="props"
      [editor]="editor"
      prop="subtitle"
      className="h4"
      class="mt-1"
      subtitle
    ></r-md>

    <div
      (contentChanged)="$contentChanged($event, 'description')"
      [r-block]="editor"
      [innerHTML]="$getValue('description')"
      description
      class="text32 mt-1_5"
    ></div>

    <r-article-image
      [id]="elements && elements[0].id"
      [contentFile]="elements && elements[0].content_file"
      [editor]="editor"
      image
    ></r-article-image>
  </r-card>
</r-padding>
