<r-padding
  [class.full-screen]="!editor"
  class="pt-128"
>
  <div
    *ngIf="editor && elements.length"
    style="width: 40%;"
  >
    <r-article-image
      [id]="elements && elements[0]?.id"
      [contentFile]="elements && elements[0]?.content_file"
      [props]="elements && elements[0]?.props"
      [editor]="editor"
    ></r-article-image>
  </div>

  <r-card>
    <r-md
      [props]="props"
      [editor]="editor"
      prop="title"
      className="h3"
      class="mt-1"
      title
    ></r-md>

    <r-md
      [props]="props"
      [editor]="editor"
      prop="subtitle"
      className="h4"
      class="mt-1"
      subtitle
    ></r-md>

    <div
      (contentChanged)="$contentChanged($event, 'description')"
      [r-block]="editor"
      [innerHTML]="$getValue('description')"
      description
      class="text32 mt-1_5"
    ></div>

    <r-article-image
      [id]="elements && elements[1]?.id"
      [contentFile]="elements && elements[1]?.content_file"
      [props]="elements && elements[1]?.props"
      [editor]="editor"
      image
    ></r-article-image>
  </r-card>
</r-padding>
