.achievements {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
  background: #EBEBEB;

  .row {
    justify-content: space-between;
  }

  .text32 {
    padding-right: 1rem;
  }
}

.w768 :host {
  .achievements {
    .text32 {
      padding-bottom: 1rem;
    }
  }
}
