:host {
  display: block;
  background: #EBEBEB;

  .row {
    justify-content: space-between;
  }
}

.w768 :host, .w320 :host {
  r-agency-achievement:not(:last-of-type) {
    margin-bottom: 6rem;
  }
}
