.achievements {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
  background: #EBEBEB;

  .row {
    justify-content: space-between;
  }
}

.w320 :host {
  r-agency-achievement:not(:last-of-type) {
    margin-bottom: 6rem;
  }
}