.gallery {
  r-image {
    flex: 1.5;
  }

  r-grid-text {
    height: auto;
  }

  .column {
    justify-content: center;
  }
}

.mh {
  margin: 0 4rem;
}

.w1024 :host, .w768 :host {
  .mh {
    margin: 0 3rem;
  }
}

.w320 :host {
  .mh {
    margin: 0;
  }
}
