.gallery {
  r-image {
    flex: 1.5;
  }

  r-grid-text {
    height: auto;
  }

  .column {
    justify-content: center;
  }
}

.mh {
  margin-left: 4rem;
  margin-right: 4rem;
}

.w1024 :host {
  .mh {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.w768 :host {
  .mh {
    margin-left: -2rem;
    margin-right: 0;
  }
}

.w320 :host {
  .mh {
    margin: 0;
  }
}
