<r-padding
  (viewportIntersect)="$initMango()"
  [horizontal]="true"
>
  <r-footer-breadcrumbs></r-footer-breadcrumbs>

  <div class="wrapper mt-3">
    <div
      *ngIf="left"
      class="logo"
      style="margin-right: 1rem;"
    >
      <r-logo
        width="401"
        height="120"
      ></r-logo>

      <r-footer-left
        (change)="$save()"
        [id]="left.content_elements[0].id"
        [props]="left.content_elements[0].props"
        [contentFile]="left.content_elements[0].content_file"
        [editor]="editor"
      ></r-footer-left>
    </div>

    <div class="contacts text32">
      <r-footer-contacts></r-footer-contacts>

      <div class="mt-5 social">
        <r-footer-social
          *ngIf="social"
          [social]="social"
          [editor]="editor"
        ></r-footer-social>
      </div>
    </div>
  </div>
</r-padding>

<div
  *rWithSession
  class="controls"
>
  <r-icon-button
    (click)="$toggleEditor()"
    icon="edit"
    [size]="32"
  ></r-icon-button>
</div>
