@import 'src/theme';

:host {
  position: relative;
  display: block;
  padding: 8rem 0;
  background: $color-gray;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;

  * {
    flex: 1;
  }
}

a {
  text-decoration: underline;
}

r-logo {
  margin-bottom: 16px;
}

.bolder {
  margin-top: 1rem;
}

.contacts {
  max-width: 50%;
}

.w1366 :host {
  r-logo {
    width: 280px !important;
    height: 84px !important;
  }
}

.w1024 :host, .w768 :host, .w320 :host {
  r-logo {
    width: 184px !important;
    height: 55px !important;
  }
}

.w768 :host {
  .wrapper {
    flex-direction: column-reverse !important;
  }

  .contacts {
    display: flex;
    flex-direction: row;

    & > :first-child {
      margin-right: 6rem;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .logo {
    margin-top: 8rem;
  }
}

.w320 :host {
  .wrapper {
    flex-direction: column-reverse !important;
  }

  ::ng-deep r-logo {
    margin: 48px 0;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }

  .social {
    margin: 3rem 0;
  }
}

.controls {
  position: absolute;
  right: 80px;
  top: 36px;
}
