<r-list-selector
  type="services"
></r-list-selector>

<div class="content">
  <div class="row">
    <div class="ml-1">
      <mat-button-toggle-group
        (change)="$typeChange($event)"
        multiple
        name="serviceType"
      >
        <mat-button-toggle value="single">Простые</mat-button-toggle>
        <mat-button-toggle value="brand_wiki">Бренд-вики</mat-button-toggle>
        <mat-button-toggle value="complex">Направления</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div></div>
  </div>

  <table
    *ngIf="services$ | async as services"
    (cdkDropListDropped)="$sort($event)"
    cdkDropList
  >
    <tr
      *ngFor="let service of services"
      cdkDrag
    >
      <td>
        <a
          [routerLink]="['/services', service.slug]"
          class="item"
        >
          {{service.title}}
        </a>
      </td>
      <td>
        {{service.parent?.title}}
        {{service.activity_scope?.title}}
      </td>
      <td>
        {{service.tag?.title}}
      </td>
      <td>
        <div
          [class]="'label type-' + service.service_type"
        ></div>
      </td>
    </tr>
  </table>
</div>
