<r-list-selector
  type="services"
></r-list-selector>

<div class="content">
  <div class="row">
    <div class="ml-1">
      <mat-button-toggle-group
        (change)="$typeChange($event)"
        multiple
        name="serviceType"
      >
        <mat-button-toggle
          value="single"
          class="label type-single"
        >
          Простые
        </mat-button-toggle>
        <mat-button-toggle
          value="brand_wiki"
          class="label type-brand_wiki"
        >
          Бренд-вики
        </mat-button-toggle>
        <mat-button-toggle
          value="complex"
          class="label type-complex"
        >
          Направления
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div></div>
  </div>

  <table
    *ngIf="services$ | async as services"
    (cdkDropListDropped)="$sort($event)"
    cdkDropList
  >
    <tr
      *ngFor="let service of services"
      cdkDrag
    >
      <td>
        <a
          [routerLink]="['/services', service.slug]"
          class="item"
        >
          {{service.title}}
        </a>
      </td>
      <td>
        <r-badge
          *ngIf="service.parent"
          matTooltip="Направление"
          class="mr-1"
        >
          {{service.parent.title}}
        </r-badge>
        <r-badge
          *ngIf="service.activity_scope"
          matTooltip="Сфера"
        >
          {{service.activity_scope.title}}
        </r-badge>
      </td>
      <td>
        <r-badge
          *ngFor="let tag of service.tags; let first = first"
          [class.mt-1]="!first"
          class="ml-1"
        >
          {{tag.title}}
        </r-badge>
      </td>
      <td>
        <div
          [class]="'label type-' + service.service_type"
        ></div>
      </td>
    </tr>
  </table>
</div>
