:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.content {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0;
  overflow-y: auto;
}

table {
  width: 100%;
}

td {
  width: 25%;
  padding: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;

  &:last-of-type {
    text-align: right;
  }

  a:hover {
    text-decoration: underline;
  }
}

.label {
  display: inline-block;
  width: 30px;
  height: 30px;

  &.type-single {
    background: green;
  }

  &.type-complex {
    background: gray;
  }

  &.type-brand_wiki {
    background: blue;
  }
}

.cdk-drag-preview {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  td {
    border: none;

    &:not(:first-of-type) {
      display: none;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
